<% i = -1 %>
<section class="2016 top_nav_content">
  <h1>2016</h1>
  <article>
    <% i+=1%><h2 id="<%= i %>"><a class="link">Kontrolní hlášení od 1.1.2016</a></h2>
    <div class = "content">
      <p>od 1.1.2016 přibyde všem plátcům DPH povinnost podávat vedle daňového přiznání k DPH i nové „Kontrolní hlášení“.</p>
      <p>V podstatě bude docházet ke vzájemnému zveřejňování („bonzování“) dokladů ze strany dodavatele i odběratele. </p>
      <p><strong>Bude velmi nezbytné kontrolovat na přijatých dokladech od Vašich odběratelů Vaše DIČ.</strong>V případě změny číslování dokladu by se muselo podat nové kontrolní hlášení. </p>

      <p><span><strong>Při neúplném dokladu nad 10 000,00 nelze uplatnit DPH!!!</strong></span></p>
      <ul><li><strong>Splátkový a platební kalendář</strong></li></ul>
      <p>U splátkového nebo platebního kalendáře se každé dílčí zdanitelné plnění/související úplata bude vykazovat samostatně do kontrolního hlášení za období, do kterého spadá podle data uskutečnění zdanitelného plnění/data přijetí úplaty. Jde o výjimku, kdy dojde k opakování evidenčního čísla dokladu.</p>
      <ul><li><strong>Od výpisu z evidence ke kontrolnímu</strong></li></ul>
      <p>V kontrolním hlášení musí být DUZP v režimu přenesení daňové povinnosti vyšší než 31. 12. 2015. DUZP nižším než 1. 1. 2016 je nutné podat pomocí původních Výpisů z evidence dle § 92a (Daňový portál FS ČR/Aplikace Elektronická podání pro Finanční správu/formulář „Výpis z evidence pro účely daně z přidané hodnoty podle § 92a zákona o DPH“).</p>
      <ul><li><strong>Hodnota plnění na faktuře</strong></li></ul>
      <p>Pro určení, zda poskytnuté plnění uvádět do A.4. nebo A.5., je rozhodující <strong>celá částka faktury</strong>, i kdyby šlo vedle zdanitelných plnění též o osvobozená plnění nebo plnění mimo předmět daně.</p>
      <ul><li><strong>Výzvy od FÚ</strong></li></ul>
      <p>budou doručovány v případě nesrovnalostí v kontrolním hlášení při kontrole shody dodavatel – odběratel. Na tyto výzvy je nutné reagovat po přijetí v termínu <strpng>POUZE do 5 !!! kalendářních dní, tj. a svátků. (Je to šibeniční termín a zatím je pouze v jednání úprava těchto lhůt)</strpng>.</p>
      <ul><li><strong>Sankce při nepodání kontrolního hlášení</strong></li></ul>
      <p>Pokud plátce nepodá kontrolní hlášení ve stanovené lhůtě, vzniká mu zákonná povinnost uhradit pokutu ve výši:</p>
      <ul>
        <li>a) 1 000 Kč, pokud jej dodatečně podá (po stanovené lhůtě) bez vyzvání správce daně,</li>
        <li>b) 10 000 Kč, pokud jej podá v náhradní lhůtě poté, co jej správce daně vyzval,</li>
        <li>c) 30 000 Kč, pokud nepodá následné kontrolní hlášení dle výzvy správce daně ke změně, doplnění či potvrzení údajů uvedených v podaném kontrolním hlášení, nebo</li>
        <li>d) 50 000 Kč, pokud nepodá řádné kontrolní hlášení nebo ho nepodá ani v náhradní lhůtě stanovené správcem daně.</li>
      </ul>
      <p>Správce daně má zákonnou povinnost (nad rámec výše uvedeného) uložit pokutu až do 50 000 Kč tomu, kdo na základě výzvy správce daně k odstranění pochybností nezmění nebo nedoplní nesprávné nebo neúplné údaje prostřednictvím následného kontrolního hlášení.</p>
      <p>Správce daně má zákonnou povinnost (nad rámec výše uvedeného) uložit pokutu až do 500 000 Kč tomu, kdo závažně ztěžuje nebo maří správu daní nepodáním kontrolního hlášení.</p>
      <p>
        <strong>Odkaz na stránky MF kde lze ověřit platnost registrací k DPH dodavatelů i odběratelů:</strong>
        <%= link_to 'http://adisreg.mfcr.cz/cgi-bin/adis/idph/int_dp_prij.cgi?ZPRAC=FDPHI1&poc_dic=1', 'http://adisreg.mfcr.cz/cgi-bin/adis/idph/int_dp_prij.cgi?ZPRAC=FDPHI1&poc_dic=1' %>
        <br />
        <p><%= link_to "Kontrolni_Hlaseni_letak_2015.pdf", "/files/Kontrolni_Hlaseni_letak.pdf" %></p>
        <p><%= link_to "Odkaz na stránky Finanční správy na časté dotazy a odpovědi ke KH", 'http://www.financnisprava.cz/cs/dane-a-pojistne/dane/dan-z-pridane-hodnoty/kontrolni-hlaseni-DPH/dotazy-a-odpovedi'%></p>
      </p>
    </div>
    <% i+=1%><h2 id="<%= i %>"><a class="link">Minimální zálohy OSVČ 2017</a></h2>
    <div class = "content">
      <p>
        <ul>
          <li>Zdravotní 1906,00</li>
          <li>Sociální hlavní činnost 2061,-, vedlejší činnost 825,-</li>
          <li>Nemocenské 115,-</li>
        </ul>
      </p>
    </div>
    <% i+=1%><h2 id="<%= i %>"><a class="link">Cestovní náhrady 2016</a></h2>
    <div class = "content">
      <h3>Základní náhrady 2015/2016</h3>
      <p><i>(§ 157/4 ZP)</i></p>
      <ul>
        <li>Za 1 km jízdy 3,70 / 3,80</li>
        <li>Jednostopých vozidel a tříkolek 1,00</li>
        <li>Při použití přívěsu k silničnímu motorovému vozidlu zaměstnavatel sazbu za 1 km jízdy</li>
        <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů přísluší zaměstnanci nejméně ve výši dvojnásobku sazby 3,80 Kč (nejméně tedy 7,60 Kč).</li>
      </ul>
      <h3>Průměrné ceny PHM 2015/2016</h3>
      <p><i>(§ 158/3 ZP)</i></p>
      <ul>
        <li>Benzin 95 oktanů 35,90 / 29,70</li>
        <li>Benzin 98 oktanů 38,30 / 33,00</li>
        <li>Nafta 36,10 / 29,50</li>
      </ul>
      <h3>Tuzemské stravné 2015/2016</h3>
      <p><strong>Státní a příspěvková sféra</strong></p>
      <p><i>(§ 176/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 69-82 / 70-83</li>
        <li>12-18 hod. 104-125 / 106-127</li>
        <li>nad 18 hod. 163-195 / 166-198</li>
      </ul>
      <p><strong>Podnikatelská sféra</strong></p>
      <p><i>(§ 163/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 69 / 70</li>
        <li>12-18 hod. 104 / 106</li>
        <li>nad 18 hod. 163-195 / 166-198</li>
      </ul>
      <p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
      <ul>
        <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
        <li>35 % stravného, trvá-li pracovní cesta 12 až 18</li>
        <li>25 % stravného, trvá-li pracovní cesta déle než 18</li>
      </ul>
      <p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
      <ul>
        <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta jídla.</li>
        <li>12 až 18 hodin, byla poskytnuta 3 bezplatná</li>
      </ul>
      <p>Sazby základních náhrad a průměrné ceny PHM platí pro OSVČ a zaměstnance, který použil pro pracovní cestu jiné vozidlo než vozidlo zaměstnavatele a cenu PHM nedoložil nákupním dokladem.</p>
    </div>
    <% i+=1%><h2 id="<%= i %>"><a class="link">Pokyn GFŘ D-22 k dani z příjmu</a></h2>
    <div class = "content">
      <a href="/files/Pokyn_GFR_D-22.pdf">Pokyn GFŘ D-22 k dani z příjmu</a>

    </div>
    <% i+=1%><h2 id="<%= i %>"><a class="link">Zvýšení minimální mzdy od 1.1.2016</a></h2>
    <div class = "content">
      <p>Od 1. 1. 2016 dojde ke zvýšení měsíční minimální mzdy z <span>9.200 na <strong>9.900 Kč</strong></span> a minimální hodinové sazby z <span>55.00 na <strong>58.70 Kč</strong></span>. Minimální mzda se zvýší také pro zdravotně postižené zaměstnance z 8.000 na 9.300 Kč.</p>
    </div>
    <% i+=1%><h2 id="<%= i %>"><a class="link">Kontrolní hlášení DPH od roku 2016</a></h2>
    <div class = "content">
      <p><strong>Všichni plátci DPH registrovaní v tuzemsku musí od ledna 2016 podávat kromě daňového přiznání k DPH také kontrolní hlášení.</strong></p>
      <p>V kontrolním hlášení se budou uvádět údaje z vystavených i přijatých daňových dokladů, a to i ze zjednodušených a dalších dokladů (kromě ZD a DPH navíc<strong> DIČ dodavatele či odběratele a datum zdanitelného plnění</strong>, a to jednotlivě pro každé zdanitelné plnění zvlášť).</p>
      <h3>Kdy a jak musíme kontrolní hlášení podat</h3>
      <p>vždy, když pro něj existuje náplň. Do kontrolního hlášení se promítnou všechny transakce, které dáváme souhrnně do přiznání k DPH, ale jen ty, které mají zdanitelné plnění v Česku. A neuvádíme plnění osvobozená. </p>
      <p>Kontrolní hlášení podáme pouze elektronicky.</p>
      <h3>Lhůty pro podání kontrolního hlášení</h3>
      <p>Sledovaným obdobím je <strong>v případě právnických osob kalendářní měsíc. V případě fyzických osob se sledované období řídí podle   zdaňovacího období pro účely podání daňového přiznání k DPH. </strong></p>
      <p>Kontrolní hlášení může být <strong>řádné</strong> nebo <strong>opravné</strong> (nahrazuje-li řádné kontrolní hlášení a je podáno ve lhůtě pro podání řádného kontrolního hlášení), popřípadě následné, které se podává v případech opravy původně uvedených údajů po uplynutí lhůty pro řádné kontrolní hlášení. Následné kontrolní hlášení je nutné podat do 5 pracovních dnů ode dne zjištění nesprávných nebo neúplných údajů uvedených v již podaném kontrolním hlášení.</p>
      <h3>Opravné a následné kontrolní hlášení</h3>
      <p>Před uplynutím lhůty k podání kontrolního hlášení budeme moci nahradit již podané kontrolní hlášení opravným kontrolním hlášením, k předchozímu kontrolnímu hlášení se nebude přihlížet.</p>
      <h3>Sankce</h3>
      <p>Pokud nepodáme kontrolní hlášení ve stanovené lhůtě, zaplatíme pokutu ve výši</p>
      <ul>
        <li>1000 Kč, pokud jej dodatečně podáme, aniž bychom k tomu byli vyzváni</li>
        <li>10000 Kč, pokud jej podáme v náhradní lhůtě poté, co nás k tomu správcem daně vyzve</li>
        <li>30000 Kč, pokud jej nepodáme na základě výzvy ke změně, doplnění či potvrzení údajů uvedených v podaném kontrolním hlášení, nebo</li>
        <li>50000 Kč, pokud jej nepodáme ani v náhradní lhůtě</li>
      </ul>
    </div>
  </article>
</section>
