<% i = -1 %>
<section class="actually top_nav_content">
  <h1>2018</h1>
  <article>
    <h2 id="<%= i %>"><a class="link">GDPR</a></h2>
    <div class = "content">
      <p><%= link_to "https://sites.google.com/site/jaknagdpr/", "https://sites.google.com/site/jaknagdpr/"%></p>
      <p><%= link_to "https://gdpr.uoou.cz/", "https://gdpr.uoou.cz/" %></p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Minimální zálohy OSVČ 2018</a></h2>
    <div class = "content">
      <p>
        <ul>
          <li>Zdravotní 2024,00</li>
          <li>Sociální hlavní činnost 2189,-, vedlejší činnost 876,-</li>
          <li>Nemocenské 115,-</li>
        </ul>
      </p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Cestovní náhrady 2018</a></h2>
    <div class = "content">
      <h3>Základní náhrady za 1 km jízdy 2017 / 2018</h3>
      <p><i>(§ 157/4 ZP)</i></p>
      <ul>
        <li>Za 1 km jízdy 3,90 / 4,00</li>
        <li>Jednostopých vozidel a tříkolek 1,10</li>
        <li>Při použití přívěsu k silničnímu motorovému vozidlu 4,485 / 4,6 (o 15 %)</li>
        <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů výši dvojnásobku sazby 7,80 / 8,00</li>
      </ul>
      <h3>Průměrné ceny PHM 2017 / 2018</h3>
      <p><i>(§ 158/3 ZP)</i></p>
      <ul>
        <li>Benzin 95 oktanů  29,50 / 30,50</li>
        <li>Benzin 98 oktanů 32,50 / 32,80</li>
        <li>Nafta  28,60 / 29,80</li>
      </ul>
      <h3>Tuzemské stravné 2017 / 2018</h3>
      <p><strong>Státní a příspěvková sféra</strong></p>
      <p><i>(§ 176/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod.  72-86 / 78-93</li>
        <li>12-18 hod. 109-132 / 119-143</li>
        <li>nad 18 hod. 171-205 / 186-223</li>
      </ul>
      <p><strong>Podnikatelská sféra</strong></p>
      <p><i>(§ 163/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 72 / 78</li>
        <li>12-18 hod. 109 / 119</li>
        <li>nad 18 hod. 171 / 186</li>
      </ul>
      <p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
      <ul>
        <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
        <li>35 % stravného, trvá-li pracovní cesta 12 až 18</li>
        <li>25 % stravného, trvá-li pracovní cesta déle než 18</li>
      </ul>
      <p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
      <ul>
        <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta jídla.</li>
        <li>12 až 18 hodin, byla poskytnuta 3 bezplatná</li>
      </ul>
      <p>Sazby základních náhrad a průměrné ceny PHM platí pro OSVČ a zaměstnance, který použil pro pracovní cestu jiné vozidlo než vozidlo zaměstnavatele a cenu PHM nedoložil nákupním dokladem.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zvýšení daňového zvýhodnění na první vyživované dítě od 1.1.2018</a></h2>
    <div class = "content">
      <p>zvyšuje se <strong>o 150 Kč měsíčně</strong> oproti roku 2017 (<strong>z původních 1 117 Kč na 1 267 Kč</strong>), tedy ze současných 13 404 Kč ročně na 15 204 Kč ročně.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zvýšení nemocenské dlouhodobě nemocným od 1.1.2018</a></h2>
    <div class = "content">
      <ul>
        <li>60 % denního vyměřovacího základu do 30. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény,</li>
        <li>66 % denního vyměřovacího základu od 31. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény do 60. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény,</li>
        <li>72 % denního vyměřovacího základu od 61. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény.</li>
      </ul>
      <p>Na základě přechodných ustanovení se v případě nemoci, která vznikla před 1. lednem 2018 a nárok na nemocenské trvá, stanoví od 1. ledna 2018 nemocenské podle nových podmínek. Dlouhodobě nemocným se tak od 1. ledna nemocenské automaticky zvýší.</p>
      <p><strong>Dlouhodobé ošetřovné</strong> zase budou moct využít lidé, kteří jsou nemocensky pojištěni po stanovenou dobu a potřebují se postarat o nemocného člena domácnosti či příbuzného. Tato nová dávka bude náležet při ošetřování osoby, která byla aspoň <strong>7 dnů hospitalizována</strong> v nemocnici a po propuštění bude podle potvrzení ošetřujícího lékaře potřebovat ještě <strong>minimálně 30 dní</strong> celodenní péči. Dlouhodobé ošetřovné bude vypláceno <strong>maximálně po dobu 90 kalendářních dnů</strong> ode dne propuštění z nemocnice a dávka bude činit 60 % redukovaného denního vyměřovacího základu. V průběhu uvedených 90 dnů se ošetřující osoby budou moci v ošetřování střídat.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Ústavní soud zrušil třetí a čtvrtou vlnu EET, vláda musí přijít s novou verzí</a></h2>
    <div class = "content">
      <h3>Z EET zmizí platby kartou a z účtenek DIČ</h3>
      <p><strong>Z evidence se tak vyjímají platby bezhotovostním převodem peněžních prostředků</strong>, k němuž dává příkaz plátce prostřednictvím příjemce, kterým je poplatník, který má tržbu evidovat. Jinými slovy se EET už nebude týkat plateb kartou, přes platební brány a další podobné způsoby.</p>
      <p><strong>Ruší se povinnost uvádět na účtenkách daňové identifikační číslo poplatníka</strong> (DIČ), které v případě, že jde o fyzickou osobu, obsahuje jeho rodné číslo.</p>
      <h3>Ústavní soud zrušil plánovaný začátek třetí a čtvrté etapy elektronické evidence tržeb.</h3>
      <p>EET začala <strong>platit 1. prosince 2016 ( ->>1. etapa EET)</strong> pro restaurace a ubytovací zařízení a od <strong>1. března 2017 ( ->>2. etapa EET)</strong>  je povinná pro podnikatele ve velkoobchodu a maloobchodu. </p>
      <p><strong>Třetí etapa EET se měla od března 2018</strong> týkat třeba stánkového prodeje, občerstvení bez stolů a židlí, farmářských trhů, dále služeb účetních, advokátů či lékařů. Od června 2018 se do systému měli zapojit také vybraní řemeslníci.</p>
      <p><strong>Třetí a čtvrtá vlna není podle nálezu ústavních soudců sama o sobě protiústavní, ale může začít až po důkladnějším zvážení dopadů a vymezení výjimek přímo v zákoně, nikoliv jen ve vládním nařízení.</strong></p>
      <p><%= link_to 'https://www.seznamzpravy.cz/clanek/dalsi-desitky-tisic-podnikatelu-se-zatim-do-eet-nezapoji-ustavni-soud-odlozil-treti-a-ctvrtou-vlnu-40794?dop-ab-variant=&seq-no=2&source=hp', 'https://www.seznamzpravy.cz/clanek/dalsi-desitky-tisic-podnikatelu-se-zatim-do-eet-nezapoji-ustavni-soud-odlozil-treti-a-ctvrtou-vlnu-40794?dop-ab-variant=&seq-no=2&source=hp' %></p>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Srážková daň u zaměstnanců od roku 2018</a></h2>
    <div class = "content">
      <p><strong>Příjmy ze závislé činnosti</strong> (poplatníka, který nepodepsal prohlášení k dani) <strong>podléhají srážkové dani, pokud v úhrnné výši („hrubý příjem“) nepřesáhnou částku 2.500 Kč za měsíc</strong>.
        <p>DPP s příjmem nepřesahující 10.000 Kč za měsíc (při nepodepsaném prohlášení) – použije se srážková daň dle dosavadních pravidel.</p>
        <h3>Příklad I.</h3>
        <p>Budou-li poplatníkovi plynout od téhož plátce daně např. příjmy z DPP nepřesahující v úhrnu za kalendářní měsíc částku 10 000 Kč a souběžně příjem z DPČ nepřesahující částku 2 500 Kč za kalendářní měsíc ->> pak v uvedeném případě dojde ke vzniku dvou samostatných základů daně (z příjmů z DPP a z příjmů z DPČ), ze kterých se srazí daň vybíraná srážkou podle zvláštní sazby daně.</p>
        <h3>Příklad II.</h3>
        <p>Bude-li poplatníkovi plynout od téhož plátce daně např. příjem z DPP ve výši 15 000 Kč za kalendářní měsíc a souběžně příjem z DPČ ve výši 2 000 Kč za kalendářní měsíc ->> pak v uvedeném případě dojde ke vzniku základu pro výpočet zálohy na daň a samostatného základu daně (tj. dvou různých základů daně), přičemž příjem z DPP bude zdaněn zálohou na daň podle § 38h zákona a příjem z DPČ daní vybíranou srážkou podle zvláštní sazby daně.</p>
      </p>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Otcovská poporodní péče</a></h2>
    <div class = "content">
      <ul>
        <li>Otec musí být uveden v matrice (knize narození)</li>
        <li>Nárok doloží rodným listem dítěte</li>
        <li>O otcovskou dávku nebude moci žádat druh matky dítěte, který není uveden jako otec dítěte, a to ani v situaci, kdy otec není znám. </li>
        <li>Na otcovskou bude možné nastoupit <strong>kdykoli v období šesti týdnů od narození dítěte</strong>. Délka jejího poskytování je stanovena na <strong>7 kalendářních dní nepřerušeně</strong>. </li>
        <li>Má náležet jen jednou i v případech vícečetného porodu podle zásady „jeden porod = jedna dávka". </li>
        <li>Účinnost:<strong> 1. února 2018</strong>. Dávka se bude týkat i otců, jejichž dítě se narodilo 6 týdnů před účinností zákona, tj.<strong> 21. prosince 2017 a později</strong>.</li>
      </ul>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zvýšení nemocenského od 1.1.2018</a></h2>
    <div class = "content">
      <p>Výše nemocenského za kalendářní měsíc <strong>2017</strong>: výše nemocenského za kalendářní den činí 60 % denního vyměřovacího základu.</p>
      <p>Výše nemocenského <strong>2018 – změna od druhého měsíce nemoci</strong>: Výše nemocenského za kalendářní den činí</p>
      <ul>
        <li>60 % denního vyměřovacího základu do 30. dne trvání pracovní neschopnosti</li>
        <li><strong>66 %</strong> denního vyměřovacího základu od 31. dne do 60. dne trvání pracovní neschopnosti,</li>
        <li><strong>72 %</strong> denního vyměřovacího základu od 61. dne trvání pracovní neschopnosti nebo nařízené karantény.</li>
      </ul>
    </div>









  </article>
</section>
