<% i = -1 %>
<section class="actually top_nav_content">
  <h1>Aktuálně</h1>
  <article>
    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Cestovní náhrady 2021</a></h2>
      <div class = "content">
      <h3>Základní náhrady za 1 km jízdy 2020 / 2021</h3>
      <p><i>(§ 157/4 ZP)</i></p>
      <ul>
        <li>Za 1 km jízdy 4,20 / <strong>4,40</strong></li>
        <li>Jednostopých vozidel a tříkolek 1,10 / <strong>1,20</strong></li>
        <li>Při použití přívěsu k silničnímu motorovému vozidlu navýšení o 15 %</li>
        <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů výši dvojnásobku sazby</li>
      </ul>

      <h3>Průměrné ceny PHM 2020 / 2021</h3>
      <p><i>(§ 158/3 ZP)</i></p>
      <ul>
        <li>Benzin 95 oktanů 32,00 / <strong<27,80</strong></li>
        <li>Benzin 98 oktanů 36,00 / <strong>31,50</strong></li>
        <li>Nafta 31,80 / <strong>27,20</strong></li>
        <li>elektřina 1 kilowatthodina  4,80 Kč / <strong>5,00</strong></li>
      </ul>

      <h3>Tuzemské stravné 2020 / 2021</h3>
      <p><strong>Státní a příspěvková sféra</strong></p>
      <p><i>(§ 176/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 87-103 / <strong>91-108</strong></li>
        <li>12-18 hod. 131-158 / <strong>138-167</strong></li>
        <li>nad 18 hod. 206-246 / <strong>217-259</strong></li>
      </ul>
      <p><strong>Podnikatelská sféra</strong></p>
      <p><i>(§ 163/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 87 / <strong>91</strong></li>
        <li>12-18 hod. 131 / <strong>138</strong></li>
        <li>nad 18 hod. 206 / <strong>217</strong></li>
      </ul>
      <p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
      <ul>
        <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
        <li>35 % stravného, trvá-li pracovní cesta 12 až 18</li>
        <li>25 % stravného, trvá-li pracovní cesta déle než 18</li>
      </ul>
      <p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
      <ul>
        <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta jídla.</li>
        <li>12 až 18 hodin, byla poskytnuta 3 bezplatná</li>
      </ul>
      <p>Sazby základních náhrad a průměrné ceny PHM platí pro OSVČ a zaměstnance, který použil pro pracovní cestu jiné vozidlo než vozidlo zaměstnavatele a cenu PHM nedoložil nákupním dokladem.</p>
    
    </div>


    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">DAŇOVÝ BALÍČEK 2021</a></h2>
    <div class = "content">
      <ul>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h20">Paušální daň pro OSVČ</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h21">Zdravotní a sociální pojištění</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h22">Zvýšení slevy na dani</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h20-0">Zrušení superhrubé mzdy</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h21-0">Online finanční úřad a prodloužení termínu přiznání</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h25">Prodloužení lhůty pro přiznání</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h21-1">Snížení pokuty za nepodání přiznání elektronicky</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h21-2">Zavedení stravovacího paušálu</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h22-0">Zrušení limitu u daňového bonusu</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h26">Dohoda o pracovní činnosti</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h25-0">Zvýšení minimální mzdy</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h21-3">Změny u výpočtu dovolené a sdílená pracovní místa</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h25-1">Změny u odpisů</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h26-0">Změny u DPH u komunálního odpadu</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h211">Zavedení záloh na odpočet u DPH</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h27">Uplatnění DPH u nájmu nemovitých věcí</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h27-0">Zvýšení spotřební daně z tabákových výrobků</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h28">Snížení spotřební daně u motorové nafty</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h29">Změny u místního koeficientu daně z nemovitých věcí</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h210">Účetní závěrku jde posílat skrze správce daně</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h211-0">Vykazování dobíjení elektromobilů</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h212">Menší distributoři lihu platí nižší kauci</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h215">Osvobození od místních poplatků pro rodiče hospitalizovaných dětí</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h220">Prodloužení časového testu pro příjmy z prodeje investičních nemovitých věcí</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h221">Limit pro úroky z hypoték klesl na 150 000 Kč</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h222">Oceňovací předpisy</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h225">Tuzemské a zahraniční cestovní náhrady</a></li>
<li><a href="https://www.podnikatel.cz/clanky/velky-rozcestnik-zmen-v-roce-2021-ktere-se-dotknou-podnikatelu/?utm_source=newsletter-html-d&utm_medium=text&utm_campaign=2021-01-04#h226">Změny u mýta</a></li>
 
      </ul>
    </div>


    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Minimální mzda 2021</a></h2>
    <div class = "content">
      <ul>
        <li>od 01.01.2021 se zvyšuje z 14 600,00 na <strong>15 200,00</strong>, hodinový tarif z 87.30 na <strong>90.50</strong>.</li>
        <li>Navyšují se také nejnižší úrovně zaručené mzdy.</li>
      </ul>
    </div>

    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Daňový balíček 2021 (Sb. 609/2020)</a></h2>
    <div class = "content">
      <ul>
        <li>zvýšení základní slevy na poplatníka z 24.840 na 27.840 Kč (v roce 2021) a na 30.840 Kč (v roce 2022),</li>
        <li>zrušení superhrubé mzdy,</li>
        <li>sazby daně 15 a 23 %,</li>
        <li>stravenkový paušál jako nová peněžní forma příspěvku na stravování, maximální částkou je 70 % z 108 Kč (stravné pro 5-12 hod. v roce 2021), tj. 75.60 Kč/směna</li>
        <li> zvýšení hranice daňového odpisování hmotného majetku a TZ z 40 na 80 tis. Kč (možno použít i pro majetek zakoupený od 1. 1. 2020),</li>
        <li>mimořádné odpisy pro majetek v 1. a 2. odp. sk. pořízený od 1. 1. 2020 do 31. 12. 2021, u 1. odpisové skupiny bude doba odpisu 12 měsíců (obvykle 3 roky), u 2. odpisové skupiny 24 měsíců (obvykle 5 let),</li>
        <li>zrušení limitu pro maximální bonus 60.300 Kč (§ 35c/3), maximální měsíční bonus ve výši 5.025 Kč zůstává (§ 35d/4),</li>
      </ul>
    </div>

    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Lhůty pro podání přiznání k dani z příjmů</a></h2>
    <div class = "content">
      <ul>
        <li>1. 4. 2021 základní lhůta pro podání</li>
        <li>3. 5. 2021 pokud přiznání není podáno v základní lhůtě a bude podáno elektronicky</li>
        <li>1. 7. 2021 pokud přiznání není podáno v základní lhůtě a následně podá daňový poradce</li>
      </ul>
    </div>

    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Minimální zálohy OSVČ 2021</a></h2>
    <div class = "content">
      <ul>
        <li>Zdravotní 2 352,00 ->> 2 393,00</li>
        <li>Sociální 2 544,00 ->> 2 588,00</li>
        <li>Nemocenské 126,00 ->> 147,00</li>
      </ul>
    </div>


  <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Cestovní náhrady 2020</a></h2>
    <div class = "content">
      <h3>Základní náhrady za 1 km jízdy 2019 / 2020</h3>
      <p><i>(§ 157/4 ZP)</i></p>
      <ul>
        <li>Za 1 km jízdy 4,10 / <strong>4,20</strong></li>
        <li>Jednostopých vozidel a tříkolek 1,10</li>
        <li>Při použití přívěsu k silničnímu motorovému vozidlu 4,6 / 4,715 (o 15 %)</li>
        <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů výši dvojnásobku sazby 8,10 / 8,40</li>
      </ul>

      <h3>Průměrné ceny PHM 2019 / 2020</h3>
      <p><i>(§ 158/3 ZP)</i></p>
      <ul>
        <li>Benzin 95 oktanů 33,10 / <strong>32,00</strong></li>
        <li>Benzin 98 oktanů  37,10 / 36,00</li>
        <li>Nafta 33,60 / <strong>31,80</strong></li>
        <li>elektřina 1 kilowatthodina --- / 4,80 Kč</li>
      </ul>

      <h3>Tuzemské stravné 2019 / 2020</h3>
      <p><strong>Státní a příspěvková sféra</strong></p>
      <p><i>(§ 176/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod.  82-97 / <strong>87-103</strong></li>
        <li>12-18 hod. 124-150 / <strong>131-158</strong></li>
        <li>nad 18 hod.  195-233 / <strong>206-246</strong></li>
      </ul>
      <p><strong>Podnikatelská sféra</strong></p>
      <p><i>(§ 163/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod.  82 / <strong>87</strong></li>
        <li>12-18 hod. 124 / <strong>131</strong></li>
        <li>nad 18 hod. 195 / <strong>206</strong></li>
      </ul>
      <p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
      <ul>
        <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
        <li>35 % stravného, trvá-li pracovní cesta 12 až 18</li>
        <li>25 % stravného, trvá-li pracovní cesta déle než 18</li>
      </ul>
      <p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
      <ul>
        <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta jídla.</li>
        <li>12 až 18 hodin, byla poskytnuta 3 bezplatná</li>
      </ul>
      <p>Sazby základních náhrad a průměrné ceny PHM platí pro OSVČ a zaměstnance, který použil pro pracovní cestu jiné vozidlo než vozidlo zaměstnavatele a cenu PHM nedoložil nákupním dokladem.</p>
    
    </div>
  

    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Změny v zaokrouhlování po novele DPH</a></h2>
    <div class = "content">
      <p><i>Účinnost 1.4.2019 (6 měsíců od nabytí účinnosti novely je možné daň počítat podle dřívější právní úpravy)</i></p>
      <p>
        <ul>
          <li><strong>koeficienty pro výpočet daně z částky včetně daně se již nezaokrouhlují na 4 desetinná místa</strong> (přestávají se používat koeficienty 0,1736 pro základní sazbu daně 21 %; 0,1304 pro sníženou sazbu daně 15 % a 0,0909 pro sníženou sazbu daně 10 %). <strong>Např. daň v základní sazbě 21 % vypočtená z ceny včetně daně 121.000 Kč již nečiní 21.005,60 (121.000 x 0,1736), ale 21.000 (121.000 - 121.000/1,21)</strong>.</li>
          <li><strong>daň již není možné zaokrouhlovat na celé koruny a rozdíl z tohoto zaokrouhlení vyjmout ze základu</strong> daně; tzn., že např. ze základu daně 990 Kč není možné stanovit daň v základní 21% sazbě daně na 208 Kč, ale na 207,90. Pokud bude celková částka k úhradě zaokrouhlena na 1.198 Kč, tak <strong>zaokrouhlení 0,10 Kč je nutné rozdělit na základ daně 0,08 Kč a daň 0,02 Kč a celkový základ daně činí 990,08 Kč a daň 207,92</strong>.</li>
          <li><strong>při platbách v hotovosti je možné rozdíl plynoucí ze zaokrouhlení celkové částky včetně daně na celé koruny vyloučit ze základu daně</strong>. Tzn., že při hotovostní úhradě faktury vystavené na 1.197,90 (základ daně 990 + DPH 207,90) částkou 1.198 se zaokrouhlení <strong>0,10 Kč ponechá mimo zdanění</strong>. Při výpočtu daně shora by se daň počítala z ceny včetně daně 1.197,90 Kč (1.197,90 - 1.197,90/1,21 = 207,90) a nikoli z částky 1.198 (1.198 - 1.198/1,21 = 207,92).</li>
        </ul>
      </p>
      <p>Informace Finanční zprávy – AŽ ze 14.10.2019</p>
      <ul>
        <li><strong>I při bezhotovostních úhradách zaokrouhlovací rozdíl nevstupuje do základu daně a nepodléhá dani. </strong> Ale toto zaokrouhlení musí být na nejbližší možnou korunu, jinak by vstupovalo do základu daně.</li>
      </ul>

    </div>


    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Změna v nemocenském pojištění OSVČ od 1. 7. 2019</a></h2>
    <div class = "content">
      <p>V souvislosti se zrušením karenční doby se snižuje sazba pojistného na nemocenské pojištění o 0,2 %, tedy z 2,3 % na 2,1 % z měsíčního vyměřovacího základu.</p>
      <p> Tím dochází ke snížení <strong>minimální výše pojistného na nemocenské pojištění OSVČ, a to na 126 Kč</strong> (od 1. 1. 2019 do 30. 6. 2019 činí <strong>138 Kč</strong>).</p>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Minimální zálohy OSVČ 2019</a></h2>
    <div class = "content">
      <ul>
        <li>Zdravotní 2208,00</li>
        <li>Sociální hlavní činnost 2388,-, vedlejší činnost 955,-</li>
        <li>Nemocenské 138,-</li>
      </ul>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Cestovní náhrady 2019</a></h2>
    <div class = "content">
      <h3>Základní náhrady za 1 km jízdy 2018 / 2019</h3>
      <p><i>(§ 157/4 ZP)</i></p>
      <ul>
        <li>Za 1 km jízdy 4,00 / 4,10</li>
        <li>Jednostopýchvozidel a tříkolek 1,10</li>
        <li>Při použití přívěsu k silničnímu motorovému vozidlu 4,6 / 4,715 (o 15 %)</li>
        <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů výši dvojnásobku sazby 8,00 / 8,20</li>
      </ul>
      <h3>Průměrné ceny PHM 2018 / 2019</h3>
      <p><i>(§ 158/3 ZP)</i></p>
      <ul>
        <li>Benzin 95 oktanů 30,50 / 33,10</li>
        <li>Benzin 98 oktanů 32,80 / 37,10</li>
        <li>Nafta 29,80 / 33,60</li>
      </ul>
      <h3>Tuzemské stravné 2018 / 2019</h3>
      <p><strong>Státní a příspěvková sféra</strong></p>
      <p><i>(§ 176/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 78-93 / 82-97</li>
        <li>12-18 hod. 119-143 / 124-150</li>
        <li>nad 18 hod. 186-223 / 195-233</li>
      </ul>
      <p><strong>Podnikatelská sféra</strong></p>
      <p><i>(§ 163/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 78 / 82</li>
        <li>12-18 hod. 119 / 124</li>
        <li>nad 18 hod. 186 / 195</li>
      </ul>
      <p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
      <ul>
        <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
        <li>35 % stravného, trvá-li pracovní cesta 12 až 18</li>
        <li>25 % stravného, trvá-li pracovní cesta déle než 18</li>
      </ul>
      <p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
      <ul>
        <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta jídla.</li>
        <li>12 až 18 hodin, byla poskytnuta 3 bezplatná</li>
      </ul>
      <p>Sazby základních náhrad a průměrné ceny PHM platí pro OSVČ a zaměstnance, který použil pro pracovní cestu jiné vozidlo než vozidlo zaměstnavatele a cenu PHM nedoložil nákupním dokladem.</p>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Limit pro výdajové paušály OSVČ se zvýší na dvojnásobek</a></h2>
    <div class = "content">
      <p>Mezní hranice příjmů se zvýší na 2 miliony korun (platilo v roce 2017).</p>
      <p>Paušál jde využít i při vyšších příjmech, maximálně jím lze ale uplatnit výdaje odvozené z mezní hranice příjmů. Konkrétně půjde nově o následující stropy:</p>
      <ul>
        <li>u 80% paušálu půjde uplatnit výdaje maximálně do částky 1,6 mil. Kč</li>
        <li>u 60% paušálu půjde uplatnit výdaje maximálně do částky 1,2 mil. Kč</li>
        <li>u 40% paušálu půjde uplatnit výdaje maximálně do částky 800 tisíc Kč</li>
        <li>u 30% paušálu půjde uplatnit výdaje maximálně do částky 600 tisíc Kč</li>
      </ul>
      <p>OSVČ s paušály budou zároveň moct i nadále využívat <strong>slevy na manželku/manžela a zvýhodnění na děti</strong>.</p>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Dohoda o pracovní činnosti od 2019</a></h2>
    <div class = "content">
      <p><strong>Sociální a zdravotní pojištění</strong></p>
      <p>Od ledna 2019 se limit hrubé mzdy zvyšuje, a to na <strong>3000 Kč</strong> (dosud hrubá mzda nižší než 2500 Kč)</p>
      <p><strong>Zdanění srážkovou daní</strong></p>
      <p>Zůstává beze změny – pro srážkovou daň je nadále stanoven limit <strong>2500 Kč</strong>.</p>
      <p><strong>Změna nastává s účinností daňového balíčku od 1. 5. 2019, rozhodná částka pro srážkovou daň se zvyšuje na 3 000 Kč.</strong></p>
      <!-- <p>Řadě zaměstnanců je tedy možné navýšit měsíční odměnu na 2999 Kč tak, aby dohoda nepodléhala odvodům pojistného. Ovšem od <strong>částky 2501 Kč bude i při neučiněném (nepodepsaném) prohlášení k dani zúčtována zálohová daň</strong>. Což znamená, že v případě dvou a více souběžných příjmů zaměstnance zdaněných zálohovou daní nelze provést roční zúčtování daní.</p> -->
    </div>

    <h2 id="<%= i %>"><a class="link">Zvýšení minimální mzdy 2019</a></h2>
    <div class = "content">
    <p>od 01/2019 se zvýší minimální mzda z 12.200 na <strong>13.350 Kč</strong>, tj. o 1 150 Kč, hodinová mzda <strong>79,80</strong> (dosud 73,20).</p>
    </div>
    <h2 id="<%= i %>"><a class="link">Splatnost důchodového pojištění a zvýšení nemocenského pojištění od 2019</a></h2>
    <div class = "content">
      <ul>
        <li><strong>splatnost důchodového pojištění: vždy v kalendářním měsíci, ke kterému se pojistné vztahuje</strong></li>
        <li>platit bude možné až do posledního dne kalendářního měsíce</li>
        <li>zdravotní pojištění se i nadále bude platit od 1. do 8. dne následujícího měsíce</li>
        <li>v souvislosti s touto změnou by tedy bylo nutné platit na přelomu roku pojistné dvakrát: za prosinec 2018 zpětně a za leden 2019 v měsíci lednu. Zákonodárci situaci vyřešili přechodným ustanovením, podle kterého se záloha na pojistné zaplacená v lednu 2019 bude považovat za zálohu za tento měsíc. Záloha za prosinec tak nemusí být uhrazena vůbec. Může však být uhrazena dobrovolně. Osoba samostatně výdělečně činná se tak vyhne většímu doplatku pojistného po podání přehledu. Dobrovolnou zálohu na důchodové pojištění za měsíc prosinec lze zaplatit od 21. do 31. prosince 2018. U nemocenského pojištění však žádná úleva není a doplatek za prosinec se musí zaplatit do 21. ledna 2019 (20. ledna je neděle).</li>
      </ul>
      <p>Důvodem změn byly problémy u nemocenského pojištění. Podle zákona o nemocenském pojištění, ve znění pozdějších předpisů, totiž zaniká OSVČ účast na nemocenském pojištění, pokud nebylo pojistné zaplaceno ve stanovené lhůtě, posledním dnem měsíce, za který bylo pojistné zaplaceno. <strong>Nově bude platit, že nemocenské pojištění ihned nezanikne a že vznikne dluh na pojistném</strong>. Ten bude moct být doplacen do konce následujícího měsíce. V rámci „zjednodušení“ se zákonodárci rozhodli splatnost posunout i u důchodového pojištění.</p>
      <p><strong>Pokuty zatím nehrozí - pokud budou zálohy platit jako doposud</strong>. Novela totiž obsahuje paragraf, dle kterého se neplatí penále, pokud byla záloha zaplacena do konce měsíce následujícího po měsíci, za který se záloha platí. OSVČ tak mohou beztrestně platit zálohy jako doposud zpětně. </p>
      <h3>Zvýšení nemocenského pojištění </h3>
      <p>Od 1.1.2019 ze 115 Kč <strong>na 138 Kč</strong>,</p>
      <ul>
        <li><strong>NP za 12/2018</strong> se pojistné na NP platí <strong>od 1. ledna do pondělí 21. ledna 2019</strong></li>
        <li><strong>NP za 01/2019</strong> se platí také v lednu <strong>od 1. do 31. ledna</strong>. V lednu 2019 by mělo být pojistné zaplaceno dvěma platbami (minimální výše platby za prosinec 2018 musí činit aspoň 115 Kč a druhé platby za leden 2019 aspoň 138 Kč) nebo jednou platbou ve výši aspoň 253 Kč (115 Kč + 138 Kč), zaplacenou nejpozději do 21. ledna 2019. </li>
      </ul>
      <div>
        <%= link_to 'Změny v placení SP OSVČ od 1.1.2019', "/files/zmeny_v_placeni_osvc_1_1_2019.pdf"%>
      </div>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zrušení karenční doby</a></h2>
    <div class = "content">
      <p>Poslanecká sněmovna 31.10.2018 schválila novelu zákoníku práce, která <strong>zrušila tzv. karenční dobu</strong> (první 3 dny PN, za které nenáleží náhrady mzdy).</p>
      <p>Současně snižuje <strong>odvod pojistného na nemocenské pojištění o 0,2 %</strong> - na sociální zabezpečení se tak odvod zaměstnavatele sníží z <strong>25 % na 24,8 %</strong>. Tím se sníží daňové zatížení zaměstnanců (nebude ZD  134 % HM, ale 133.8 %) a reálná míra zdanění tak klesne z 20,10 % hrubé mzdy na 20,08 % HM.</p>
      <p>Změna byla schválena s účinností od <strong>1.7.2019</strong>.</p>
    </div>
    <% i+=1%>
    
  </article>
</section>
