<% i = -1 %>
<section class="actually top_nav_content">
  <h1>Aktuálně</h1>
  <article>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Cestovní náhrady 2019</a></h2>
    <div class = "content">
      <h3>Základní náhrady za 1 km jízdy 2018 / 2019</h3>
      <p><i>(§ 157/4 ZP)</i></p>
      <ul>
        <li>Za 1 km jízdy 4,00 / 4,10</li>
        <li>Jednostopýchvozidel a tříkolek 1,10</li>
        <li>Při použití přívěsu k silničnímu motorovému vozidlu 4,6 / 4,715 (o 15 %)</li>
        <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů výši dvojnásobku sazby 8,00 / 8,20</li>
      </ul>
      <h3>Průměrné ceny PHM 2018 / 2019</h3>
      <p><i>(§ 158/3 ZP)</i></p>
      <ul>
        <li>Benzin 95 oktanů 30,50 / 33,10</li>
        <li>Benzin 98 oktanů 32,80 / 37,10</li>
        <li>Nafta 29,80 / 33,60</li>
      </ul>
      <h3>Tuzemské stravné 2018 / 2019</h3>
      <p><strong>Státní a příspěvková sféra</strong></p>
      <p><i>(§ 176/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 78-93 / 82-97</li>
        <li>12-18 hod. 119-143 / 124-150</li>
        <li>nad 18 hod. 186-223 / 195-233</li>
      </ul>
      <p><strong>Podnikatelská sféra</strong></p>
      <p><i>(§ 163/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 78 / 82</li>
        <li>12-18 hod. 119 / 124</li>
        <li>nad 18 hod. 186 / 195</li>
      </ul>
      <p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
      <ul>
        <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
        <li>35 % stravného, trvá-li pracovní cesta 12 až 18</li>
        <li>25 % stravného, trvá-li pracovní cesta déle než 18</li>
      </ul>
      <p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
      <ul>
        <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta jídla.</li>
        <li>12 až 18 hodin, byla poskytnuta 3 bezplatná</li>
      </ul>
      <p>Sazby základních náhrad a průměrné ceny PHM platí pro OSVČ a zaměstnance, který použil pro pracovní cestu jiné vozidlo než vozidlo zaměstnavatele a cenu PHM nedoložil nákupním dokladem.</p>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Limit pro výdajové paušály OSVČ se zvýší na dvojnásobek</a></h2>
    <div class = "content">
      <p>Mezní hranice příjmů se zvýší na 2 miliony korun (platilo v roce 2017).</p>
      <p>Paušál jde využít i při vyšších příjmech, maximálně jím lze ale uplatnit výdaje odvozené z mezní hranice příjmů. Konkrétně půjde nově o následující stropy:</p>
      <ul>
        <li>u 80% paušálu půjde uplatnit výdaje maximálně do částky 1,6 mil. Kč</li>
        <li>u 60% paušálu půjde uplatnit výdaje maximálně do částky 1,2 mil. Kč</li>
        <li>u 40% paušálu půjde uplatnit výdaje maximálně do částky 800 tisíc Kč</li>
        <li>u 30% paušálu půjde uplatnit výdaje maximálně do částky 600 tisíc Kč</li>
      </ul>
      <p>OSVČ s paušály budou zároveň moct i nadále využívat <strong>slevy na manželku/manžela a zvýhodnění na děti</strong>.</p>
    </div>

    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Dohoda o pracovní činnosti od 2019</a></h2>
    <div class = "content">
      <p><strong>Sociální a zdravotní pojištění</strong></p>
      <p>Od ledna 2019 se limit hrubé mzdy zvyšuje, a to na <strong>3000 Kč</strong> (dosud hrubá mzda nižší než 2500 Kč)</p>
      <p><strong>Zdanění srážkovou daní</strong></p>
      <p>Zůstává beze změny – pro srážkovou daň je nadále stanoven limit <strong>2500 Kč</strong>.</p>
      <p>Řadě zaměstnanců je tedy možné navýšit měsíční odměnu na 2999 Kč tak, aby dohoda nepodléhala odvodům pojistného. Ovšem od <strong>částky 2501 Kč bude i při neučiněném (nepodepsaném) prohlášení k dani zúčtována zálohová daň</strong>. Což znamená, že v případě dvou a více souběžných příjmů zaměstnance zdaněných zálohovou daní nelze provést roční zúčtování daní.</p>
    </div>

    <h2 id="<%= i %>"><a class="link">Zvýšení minimální mzdy 2019</a></h2>
    <div class = "content">
    <p>od 01/2019 se zvýší minimální mzda z 12.200 na <strong>13.350 Kč</strong>, tj. o 1 150 Kč, hodinová mzda <strong>79,80</strong> (dosud 73,20).</p>
    </div>
    <h2 id="<%= i %>"><a class="link">Splatnost důchodového pojištění a zvýšení nemocenského pojištění od 2019</a></h2>
    <div class = "content">
      <ul>
        <li><strong>splatnost důchodového pojištění: vždy v kalendářním měsíci, ke kterému se pojistné vztahuje</strong></li>
        <li>platit bude možné až do posledního dne kalendářního měsíce</li>
        <li>zdravotní pojištění se i nadále bude platit od 1. do 8. dne následujícího měsíce</li>
        <li>v souvislosti s touto změnou by tedy bylo nutné platit na přelomu roku pojistné dvakrát: za prosinec 2018 zpětně a za leden 2019 v měsíci lednu. Zákonodárci situaci vyřešili přechodným ustanovením, podle kterého se záloha na pojistné zaplacená v lednu 2019 bude považovat za zálohu za tento měsíc. Záloha za prosinec tak nemusí být uhrazena vůbec. Může však být uhrazena dobrovolně. Osoba samostatně výdělečně činná se tak vyhne většímu doplatku pojistného po podání přehledu. Dobrovolnou zálohu na důchodové pojištění za měsíc prosinec lze zaplatit od 21. do 31. prosince 2018. U nemocenského pojištění však žádná úleva není a doplatek za prosinec se musí zaplatit do 21. ledna 2019 (20. ledna je neděle).</li>
      </ul>
      <p>Důvodem změn byly problémy u nemocenského pojištění. Podle zákona o nemocenském pojištění, ve znění pozdějších předpisů, totiž zaniká OSVČ účast na nemocenském pojištění, pokud nebylo pojistné zaplaceno ve stanovené lhůtě, posledním dnem měsíce, za který bylo pojistné zaplaceno. <strong>Nově bude platit, že nemocenské pojištění ihned nezanikne a že vznikne dluh na pojistném</strong>. Ten bude moct být doplacen do konce následujícího měsíce. V rámci „zjednodušení“ se zákonodárci rozhodli splatnost posunout i u důchodového pojištění.</p>
      <p><strong>Pokuty zatím nehrozí - pokud budou zálohy platit jako doposud</strong>. Novela totiž obsahuje paragraf, dle kterého se neplatí penále, pokud byla záloha zaplacena do konce měsíce následujícího po měsíci, za který se záloha platí. OSVČ tak mohou beztrestně platit zálohy jako doposud zpětně. </p>
      <h3>Zvýšení nemocenského pojištění </h3>
      <p>Od 1.1.2019 ze 115 Kč <strong>na 138 Kč</strong>,</p>
      <ul>
        <li><strong>NP za 12/2018</strong> se pojistné na NP platí <strong>od 1. ledna do pondělí 21. ledna 2019</strong></li>
        <li><strong>NP za 01/2019</strong> se platí také v lednu <strong>od 1. do 31. ledna</strong>. V lednu 2019 by mělo být pojistné zaplaceno dvěma platbami (minimální výše platby za prosinec 2018 musí činit aspoň 115 Kč a druhé platby za leden 2019 aspoň 138 Kč) nebo jednou platbou ve výši aspoň 253 Kč (115 Kč + 138 Kč), zaplacenou nejpozději do 21. ledna 2019. </li>
      </ul>
      <div>
        <%= link_to 'Změny v placení SP OSVČ od 1.1.2019', "/files/zmeny_v_placeni_osvc_1_1_2019.pdf"%>
      </div>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zrušení karenční doby</a></h2>
    <div class = "content">
      <p>Poslanecká sněmovna 31.10.2018 schválila novelu zákoníku práce, která <strong>zrušila tzv. karenční dobu</strong> (první 3 dny PN, za které nenáleží náhrady mzdy).</p>
      <p>Současně snižuje <strong>odvod pojistného na nemocenské pojištění o 0,2 %</strong> - na sociální zabezpečení se tak odvod zaměstnavatele sníží z <strong>25 % na 24,8 %</strong>. Tím se sníží daňové zatížení zaměstnanců (nebude ZD  134 % HM, ale 133.8 %) a reálná míra zdanění tak klesne z 20,10 % hrubé mzdy na 20,08 % HM.</p>
      <p>Změna byla schválena s účinností od <strong>1.7.2019</strong> a musí ji ještě potvrdit Senát a prezident.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">GDPR</a></h2>
    <div class = "content">
      <p><%= link_to "https://sites.google.com/site/jaknagdpr/", "https://sites.google.com/site/jaknagdpr/"%></p>
      <p><%= link_to "https://gdpr.uoou.cz/", "https://gdpr.uoou.cz/" %></p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Minimální zálohy OSVČ 2018</a></h2>
    <div class = "content">
      <p>
        <ul>
          <li>Zdravotní 2024,00</li>
          <li>Sociální hlavní činnost 2189,-, vedlejší činnost 876,-</li>
          <li>Nemocenské 115,-</li>
        </ul>
      </p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Cestovní náhrady 2018</a></h2>
    <div class = "content">
      <h3>Základní náhrady za 1 km jízdy 2017 / 2018</h3>
      <p><i>(§ 157/4 ZP)</i></p>
      <ul>
        <li>Za 1 km jízdy 3,90 / 4,00</li>
        <li>Jednostopých vozidel a tříkolek 1,10</li>
        <li>Při použití přívěsu k silničnímu motorovému vozidlu 4,485 / 4,6 (o 15 %)</li>
        <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů výši dvojnásobku sazby 7,80 / 8,00</li>
      </ul>
      <h3>Průměrné ceny PHM 2017 / 2018</h3>
      <p><i>(§ 158/3 ZP)</i></p>
      <ul>
        <li>Benzin 95 oktanů  29,50 / 30,50</li>
        <li>Benzin 98 oktanů 32,50 / 32,80</li>
        <li>Nafta  28,60 / 29,80</li>
      </ul>
      <h3>Tuzemské stravné 2017 / 2018</h3>
      <p><strong>Státní a příspěvková sféra</strong></p>
      <p><i>(§ 176/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod.  72-86 / 78-93</li>
        <li>12-18 hod. 109-132 / 119-143</li>
        <li>nad 18 hod. 171-205 / 186-223</li>
      </ul>
      <p><strong>Podnikatelská sféra</strong></p>
      <p><i>(§ 163/1 ZP)</i></p>
      <ul>
        <li>5 – 12 hod. 72 / 78</li>
        <li>12-18 hod. 109 / 119</li>
        <li>nad 18 hod. 171 / 186</li>
      </ul>
      <p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
      <ul>
        <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
        <li>35 % stravného, trvá-li pracovní cesta 12 až 18</li>
        <li>25 % stravného, trvá-li pracovní cesta déle než 18</li>
      </ul>
      <p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
      <ul>
        <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta jídla.</li>
        <li>12 až 18 hodin, byla poskytnuta 3 bezplatná</li>
      </ul>
      <p>Sazby základních náhrad a průměrné ceny PHM platí pro OSVČ a zaměstnance, který použil pro pracovní cestu jiné vozidlo než vozidlo zaměstnavatele a cenu PHM nedoložil nákupním dokladem.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zvýšení daňového zvýhodnění na první vyživované dítě od 1.1.2018</a></h2>
    <div class = "content">
      <p>zvyšuje se <strong>o 150 Kč měsíčně</strong> oproti roku 2017 (<strong>z původních 1 117 Kč na 1 267 Kč</strong>), tedy ze současných 13 404 Kč ročně na 15 204 Kč ročně.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zvýšení nemocenské dlouhodobě nemocným od 1.1.2018</a></h2>
    <div class = "content">
      <ul>
        <li>60 % denního vyměřovacího základu do 30. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény,</li>
        <li>66 % denního vyměřovacího základu od 31. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény do 60. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény,</li>
        <li>72 % denního vyměřovacího základu od 61. kalendářního dne trvání dočasné pracovní neschopnosti nebo nařízené karantény.</li>
      </ul>
      <p>Na základě přechodných ustanovení se v případě nemoci, která vznikla před 1. lednem 2018 a nárok na nemocenské trvá, stanoví od 1. ledna 2018 nemocenské podle nových podmínek. Dlouhodobě nemocným se tak od 1. ledna nemocenské automaticky zvýší.</p>
      <p><strong>Dlouhodobé ošetřovné</strong> zase budou moct využít lidé, kteří jsou nemocensky pojištěni po stanovenou dobu a potřebují se postarat o nemocného člena domácnosti či příbuzného. Tato nová dávka bude náležet při ošetřování osoby, která byla aspoň <strong>7 dnů hospitalizována</strong> v nemocnici a po propuštění bude podle potvrzení ošetřujícího lékaře potřebovat ještě <strong>minimálně 30 dní</strong> celodenní péči. Dlouhodobé ošetřovné bude vypláceno <strong>maximálně po dobu 90 kalendářních dnů</strong> ode dne propuštění z nemocnice a dávka bude činit 60 % redukovaného denního vyměřovacího základu. V průběhu uvedených 90 dnů se ošetřující osoby budou moci v ošetřování střídat.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Ústavní soud zrušil třetí a čtvrtou vlnu EET, vláda musí přijít s novou verzí</a></h2>
    <div class = "content">
      <h3>Z EET zmizí platby kartou a z účtenek DIČ</h3>
      <p><strong>Z evidence se tak vyjímají platby bezhotovostním převodem peněžních prostředků</strong>, k němuž dává příkaz plátce prostřednictvím příjemce, kterým je poplatník, který má tržbu evidovat. Jinými slovy se EET už nebude týkat plateb kartou, přes platební brány a další podobné způsoby.</p>
      <p><strong>Ruší se povinnost uvádět na účtenkách daňové identifikační číslo poplatníka</strong> (DIČ), které v případě, že jde o fyzickou osobu, obsahuje jeho rodné číslo.</p>
      <h3>Ústavní soud zrušil plánovaný začátek třetí a čtvrté etapy elektronické evidence tržeb.</h3>
      <p>EET začala <strong>platit 1. prosince 2016 ( ->>1. etapa EET)</strong> pro restaurace a ubytovací zařízení a od <strong>1. března 2017 ( ->>2. etapa EET)</strong>  je povinná pro podnikatele ve velkoobchodu a maloobchodu. </p>
      <p><strong>Třetí etapa EET se měla od března 2018</strong> týkat třeba stánkového prodeje, občerstvení bez stolů a židlí, farmářských trhů, dále služeb účetních, advokátů či lékařů. Od června 2018 se do systému měli zapojit také vybraní řemeslníci.</p>
      <p><strong>Třetí a čtvrtá vlna není podle nálezu ústavních soudců sama o sobě protiústavní, ale může začít až po důkladnějším zvážení dopadů a vymezení výjimek přímo v zákoně, nikoliv jen ve vládním nařízení.</strong></p>
      <p><%= link_to 'https://www.seznamzpravy.cz/clanek/dalsi-desitky-tisic-podnikatelu-se-zatim-do-eet-nezapoji-ustavni-soud-odlozil-treti-a-ctvrtou-vlnu-40794?dop-ab-variant=&seq-no=2&source=hp', 'https://www.seznamzpravy.cz/clanek/dalsi-desitky-tisic-podnikatelu-se-zatim-do-eet-nezapoji-ustavni-soud-odlozil-treti-a-ctvrtou-vlnu-40794?dop-ab-variant=&seq-no=2&source=hp' %></p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Dar / dědictví z daňového pohledu</a></h2>
    <div class = "content">
      <h4>Je výhodnější majetek odkázat v pozůstalosti, nebo darovat? V dnešním článku se zaměříme na bezúplatné nabytí majetku, kdy typickými situacemi jsou právě dar a dědictví.</h4>
      <p>Není zcela možné porovnávat tyto dvě situace jen okem daňovým. Z hlediska lidského nebo právního totiž vycházejí ze zcela jiného východiska – dar je poskytován na základě <strong>osobní vůle darujícího</strong>, ale dědictví přichází na řadu až po smrti dotyčného vlastníka (byť může být pochopitelně také dotčeno jeho vůlí – ne nadarmo se říká závěti vůle poslední).</p>
      <p>Pokud ale někdo v rodině řeší situaci, zda je lepší majetek ještě před koncem svého života převést na příbuzné, nebo nechat vše „spadnout“ do dědictví, může být pro něj pohled daňový také důležitý.</p>
      <p>Především je nutné zmínit, že již <strong>od roku 2014</strong> není v českém daňovém systému <strong>zavedena daň dědická ani daň darovací</strong>. Samostatný zákon, který tyto daně vymezoval, byl zrušen a jeho značná část byla převzata do zákona o daních z příjmů. Získání daru či nabytí dědictví nepochybně příjmem je, proto je celkem logické, že se podřadily právě pod tento zákon.</p>
      <p>Otázkou zůstává, zda dříve používané <strong>osvobození od daně dědické i daně darovací</strong> bylo přesunuto i do zákona o daních z příjmů. Můžeme konstatovat, že z větší části ano.</p>
      <p><strong>U dědictví je příjem osvobozený bez výjimky</strong>, a to u fyzických osob podle § 4a, u právnických osob podle § 19b, odst. 1 <%= link_to 'zákona o daních z příjmů','https://zakony.pohoda.cz/danove-a-financni-pravo/zakon-o-danich-z-prijmu/' %> (dále jen „ZDP“).</p>
      <p>Osvobozené příjmy se do daňového přiznání neuvádí; ovšem upozorňuji na ustanovení § 38v tohoto zákona, který fyzickým osobám, jež obdrží takový <strong>osvobozený příjem vyšší než 5 000 000 Kč </strong>za kalendářní rok, stanovuje povinnost <strong>podat oznámení o osvobozených příjmech</strong>, jinak se vystavují riziku pokuty za neoznámený příjem.</p>
      <p>Ta by mohla být stanovena až<strong> do výše 15 % neoznámeného příjmu</strong>, vlastně by se tedy jednalo o stejnou částku, jakoby příjem osvobozený vůbec nebyl. Lhůta pro podání takového oznámení je shodná se lhůtou pro podání daňového přiznání za zdaňovací období.</p>
      <p><strong>Právnické osoby tuto povinnost nemají</strong> – ty zpravidla případné dědictví uvádějí ve svém účetnictví jako výnos a následně jej v rámci úprav výsledku hospodaření <strong>vylučují ze základu daně</strong> (takže svým způsobem toto dědictví v přiznání také uvádějí, byť nemusí detailně, jako je to v oznámení u fyzických osob; ale musí následně každou takovou úpravu prokázat).</p>
      <h4>Odkázat, nebo darovat?</h4>
      <p>Pokud by někoho nyní napadlo, že je tedy lepší určitý majetek darovat, než oznamovat dědictví, pak upozorňuji, že pokud jde o darování osvobozené, platí pro jeho oznámení u fyzických osob stejná pravidla, která byla popsána výše.</p>
      <p>Ze zákona jde u obou o osvobozený příjem, kde je <strong>limitní hranice 5 000 000 Kč</strong> pro povinnost podat oznámení o takových příjmech. U darování navíc nastává komplikace v tom, že se většinou u nepeněžního daru <strong>mezi příbuznými nevyhotovuje znalecký posudek</strong>, což značně ztěžuje posouzení, zda již byl překročen zákonem daný limit pro oznámení o osvobozených příjmech.</p>
      <p>Pokud by se hodnota darovaného majetku přibližovala hodnotě povinnosti oznámit osvobozený příjem, vřele bych doporučila tento posudek vyhotovit a podle jeho výsledku buď příjem oznámit, nebo ho mít založený jako důkaz o tom, že oznámení nebylo třeba učinit.</p>
      <p>Zatímco při dědictví musíme řešit „jen“ skutečnost, zda případně osvobozený příjem oznámit, <strong>u darování je podmínek pro možnost osvobození více</strong>. Ne všechny dary mohou být ze zákona od daně z příjmů osvobozeny.<strong>Podmínky pro osvobození</strong> bezúplatných příjmů (tedy darů) u fyzických osob vymezuje § 10 odst. 3 písm. c) ZDP.</p>
      <p>Týká se tedy příjmů „od příbuzného v linii přímé a v linii vedlejší, pokud jde o sourozence, strýce, tetu, synovce nebo neteř, manžela, manžela dítěte, dítě manžela, rodiče manžela nebo manžela rodičů“. <strong>Pro výčet příbuzných v linii přímé</strong> musíme nalézt oporu přímo v <%= link_to 'občanském zákoníku', 'https://zakony.pohoda.cz/obcanske-pravo/novy-obcansky-zakonik/' %>; jedná se o rodiče, prarodiče, praprarodiče,… a děti, vnoučata, pravnoučata,…).</p>
      <p>Okruh příbuzenských vztahů pro možné osvobození je tedy poměrně široký, ale např. <strong>dar manželce synovce by již do kategorie osvobozených příjmů nespadal</strong>. Pokud by tedy strýc svému synovci a jeho manželce daroval např. 1 000 000 Kč, synovec by svou část nedanil, ale jeho manželka již ano (v rámci svého daňového přiznání).</p>
      <p>U drobných darů i mezi takto vzdálenými příbuznými by bylo možné využít další ustanovení § 10 odst. 3 písm. c) – konkrétně bod 5, který osvobozuje příjmy „<strong>nabyté příležitostně, pokud jejich úhrn od téhož poplatníka ve zdaňovacím období nepřevyšuje částku 15 000 Kč</strong>“. Toto ustanovení platí pro jakékoli osoby, tedy např. pokud fyzická osoba přijme dar od právnické osoby.</p>
      <p>Mezi fyzickými osobami je ještě jeden okruh příjmů osvobozen, a sice „<strong>od osoby, se kterou poplatník žil nejméně po dobu jednoho roku bezprostředně před získáním bezúplatného příjmu ve společně hospodařící domácnosti</strong> a z tohoto důvodu pečoval o domácnost nebo byl na tuto osobu odkázán výživou“. Prokázat skutečnost, že šlo o společně hospodařící domácnost, by bylo pochopitelně plně na obdarovaném.</p>
      <p>Pokud dojde k situaci, že dar u fyzických osob nebude osvobozený od daně z příjmů, stane se součástí dílčího základu daně podle § 10 – ostatní příjmy (pokud nejde o dar přijatý v souvislosti s podnikáním). Daň z příjmů činí 15 %, případná <strong>solidární daň se u něj nebude aplikovat</strong>, ať je jeho výše jakákoli.</p>
      <p>Je <strong>možné uplatnit základní slevu na dani</strong> a i další odčitatelné položky<strong> kromě daňového bonusu na vyživované dítě</strong>. U právnických osob je <strong>dar běžnou součástí základu daně</strong> (pokud nejde o nevýdělečné činnosti), daňová sazba tedy <strong>činí 19 %</strong>.</p>
      <p>U dědictví bych ještě ráda zmínila tu skutečnost, že <strong>hodnota dědictví podléhá notářskému poplatku</strong>, takže určitá míra „zdanění“ se projeví i zde. Pokud by byl někdo tak prozíravý a chtěl by hodnotit situaci čistě matematicky, zda je výhodnější určitý majetek darovat, nebo ponechat do dědictví, měl by brát v potaz i tyto náklady.</p>
      <p>Kdyby daroval blízkému příbuznému např. 1 000 000 Kč, nebyl by takový přesun peněz zatížen žádným poplatkem ani daní (dokonce ani povinností oznamovat nabytí tohoto osvobozeného příjmu). Pokud by zmíněný 1 000 000 Kč pozůstalý příbuzný nabyl v rámci dědictví, musel by notáři zaplatit notářský poplatek.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Srážková daň u zaměstnanců od roku 2018</a></h2>
    <div class = "content">
      <p><strong>Příjmy ze závislé činnosti</strong> (poplatníka, který nepodepsal prohlášení k dani) <strong>podléhají srážkové dani, pokud v úhrnné výši („hrubý příjem“) nepřesáhnou částku 2.500 Kč za měsíc</strong>.
        <p>DPP s příjmem nepřesahující 10.000 Kč za měsíc (při nepodepsaném prohlášení) – použije se srážková daň dle dosavadních pravidel.</p>
        <h3>Příklad I.</h3>
        <p>Budou-li poplatníkovi plynout od téhož plátce daně např. příjmy z DPP nepřesahující v úhrnu za kalendářní měsíc částku 10 000 Kč a souběžně příjem z DPČ nepřesahující částku 2 500 Kč za kalendářní měsíc ->> pak v uvedeném případě dojde ke vzniku dvou samostatných základů daně (z příjmů z DPP a z příjmů z DPČ), ze kterých se srazí daň vybíraná srážkou podle zvláštní sazby daně.</p>
        <h3>Příklad II.</h3>
        <p>Bude-li poplatníkovi plynout od téhož plátce daně např. příjem z DPP ve výši 15 000 Kč za kalendářní měsíc a souběžně příjem z DPČ ve výši 2 000 Kč za kalendářní měsíc ->> pak v uvedeném případě dojde ke vzniku základu pro výpočet zálohy na daň a samostatného základu daně (tj. dvou různých základů daně), přičemž příjem z DPP bude zdaněn zálohou na daň podle § 38h zákona a příjem z DPČ daní vybíranou srážkou podle zvláštní sazby daně.</p>
      </p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Identifikovaná osoba - DPH</a></h2>
    <div class = "content">
      <p><strong>Identifikovanou osobou (IO) se dle § 6g a § 6l zákona o DPH stává podnikatelský subjekt, který není plátcem DPH, pokud v tuzemsku pořizuje zboží z EU, přijímá služby či zboží s montáží, instalací či sítěmi ze zahraničí nebo poskytuje služby do EU.</strong></p>
      <p>V některých případech je tuzemský neplátce DPH povinen podat přiznání k DPH a odvést daň bez nároku na odpočet. V případě poskytnutí služby (např. webové služby) navíc neplátce podává souhrnné hlášení.</p>
      <h3>Podmínky:</h3>
      <ul>
        <li>pokud celková hodnota pořízeného <strong>zboží z EU překročí 326 tis. Kč</strong> bez DPH za rok</li>
        <li>u přijaté služby či dodání zboží ze zahraničí musí být místo plnění v tuzemsku a nezáleží na výši plnění, u poskytnutých služeb rovněž nerozhoduje výše plnění, ale místo plnění musí být v EU.</li>
      </ul>
      <h3>Povinnosti:</h3>
      <ul>
        <li>do 15 dnů přihlášku k registraci</li>
        <li>IO povinna podat daňové přiznání či souhrnné hlášení do 25. dnů po skončení měsíce, ve
          kterém došlo k povinnosti přiznat daň.</li>
      </ul>
      <h3>Příklady:</h3>
      <ol>
        <li>Pan XY se zabývá potiskem triček a pořizuje z Německa tiskařské barvy. Za rok 2017 pořídil postupně barvy celkem za 289.000 Kč. Pan XY se nestává identifikovanou osobou a nemá povinnost odvádět DPH, jelikož nepřekročil limit pořízení zboží 326.000 Kč za rok.</li>
        <li>Pan XY pořídí z Rakouska od osoby registrované k dani v Rakousku dataprojektor včetně příslušenství za 365.000 Kč. Podnikatel se stává identifikovanou osobou z důvodu pořízení zboží nad 326.000 Kč a má povinnost se registrovat jako osoba identifikovaná a odvést DPH.</li>
        <li>Pan XY dováží z Číny trička k potištění v hodnotě přesahující 500.000 Kč ročně. Dovozem zboží ze třetí země (mimo EU) se nestává identifikovanou osobou ani plátcem DPH. DPH z dovozu vybere celní úřad při proclení zboží.</li>
        <li>Pan XY si platí <strong>reklamu na Googlu</strong> za 1250 Kč měsíčně. Reklama slouží k propagaci poskytovaných služeb. Společnost Google je registrovaná k dani v Irsku. Pan XY přijal službu s místem plnění v tuzemsku od osoby neusazené v tuzemsku. Ke dni přijetí služby se stává osobou identifikovanou k dani a má povinnost odvést DPH, a to bez ohledu na částku.</li>
        <li>Pan XY na svých webových stránkách umožňuje zveřejňovat reklamu prostřednictvím služby Google AdSense. Za to dostává od společnosti Google platbu za zveřejňování reklamy. Společnost Google má sídlo v Irsku. Jedná se o poskytování reklamní služby osobě povinné k dani v jiném členském státě. Pan XY se stává identifikovanou osobou. Poskytnuté reklamní služby vykáže v přiznání k DPH a v souhrnném hlášení. Povinnost platit DPH mu nevznikla.</li>
        <li>Pan XY poskytuje poradenské služby osobě povinné k dani se sídlem v Kanadě. Místo plnění není v EU, ale v třetí zemi, proto se firma XY nestává identifikovanou osobou a přiznání k DPH nepodává.</li>
      </ol>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Otcovská poporodní péče</a></h2>
    <div class = "content">
      <ul>
        <li>Otec musí být uveden v matrice (knize narození)</li>
        <li>Nárok doloží rodným listem dítěte</li>
        <li>O otcovskou dávku nebude moci žádat druh matky dítěte, který není uveden jako otec dítěte, a to ani v situaci, kdy otec není znám. </li>
        <li>Na otcovskou bude možné nastoupit <strong>kdykoli v období šesti týdnů od narození dítěte</strong>. Délka jejího poskytování je stanovena na <strong>7 kalendářních dní nepřerušeně</strong>. </li>
        <li>Má náležet jen jednou i v případech vícečetného porodu podle zásady „jeden porod = jedna dávka". </li>
        <li>Účinnost:<strong> 1. února 2018</strong>. Dávka se bude týkat i otců, jejichž dítě se narodilo 6 týdnů před účinností zákona, tj.<strong> 21. prosince 2017 a později</strong>.</li>
      </ul>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Zvýšení nemocenského od 1.1.2018</a></h2>
    <div class = "content">
      <p>Výše nemocenského za kalendářní měsíc <strong>2017</strong>: výše nemocenského za kalendářní den činí 60 % denního vyměřovacího základu.</p>
      <p>Výše nemocenského <strong>2018 – změna od druhého měsíce nemoci</strong>: Výše nemocenského za kalendářní den činí</p>
      <ul>
        <li>60 % denního vyměřovacího základu do 30. dne trvání pracovní neschopnosti</li>
        <li><strong>66 %</strong> denního vyměřovacího základu od 31. dne do 60. dne trvání pracovní neschopnosti,</li>
        <li><strong>72 %</strong> denního vyměřovacího základu od 61. dne trvání pracovní neschopnosti nebo nařízené karantény.</li>
      </ul>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">OČR</a></h2>
    <div class="content">
      <h3>Podmínky nároku na ošetřovné</h3>
      <p>Nárok na ošetřovné má zaměstnanec z důvodu</p>
      <p>1) ošetřování</p>
      <ul>
        <li>nemocného dítěte mladšího 10 let,</li>
        <li>jiného nemocného člena domácnosti, jehož zdravotní stav vyžaduje nezbytně ošetřováníjinou osobou,</li>
      </ul>
      <p>
        2) péče o dítě mladší 10 let, protože</p>
      <ul>
        <li>školské zařízení je uzavřeno z důvodu havárie, mimořádného opatření při epidemii
          nebo jiné nepředvídané události,</li>
        <li>dítě nemůže být pro nařízenou karanténu v péči školského zařízení, </li>
        <li>osoba, která jinak o dítě pečuje, onemocněla a proto nemůže o dítě pečovat.</li>
      </ul>
      <p>
        Nárok na ošetřovné nemají například zaměstnanci činní na základě dohody o pracovní
        činnosti, dohody o provedení práce nebo zaměstnanci účastní pojištění z důvodu výkonu
        zaměstnání malého rozsahu.</p>
      <h3>
        Podpůrčí doba</h3>
      <p>
        Podpůrčí doba u ošetřovného činí nejdéle</p>
      <ul>
        <li>9 kalendářních dnů,</li>
        <li>16 kalendářních dnů, jde-li o osamělého zaměstnance, který má v trvalé péči aspoň
          jedno dítě ve věku do 16 let, které neukončilo povinnou školní docházku.</li>
      </ul>
      <p>
        Za osamělého zaměstnance se pro účely ošetřovného považuje zaměstnanec svobodný,
        ovdovělý nebo rozvedený, pokud nežije s družkou (druhem) nebo v registrovaném partnerství.</p>
      <p>
        Běh podpůrčí doby u ošetřovného se staví po dobu poskytování zdravotních služeb
        ošetřované osobě u poskytovatele lůžkové péče.</p>
      <h3>
        Výše ošetřovného</h3>
      <p>
        Výše ošetřovného za kalendářní den činí 60 % denního vyměřovacího základu. Ošetřovné
        vyplácí ČSSZ.</p>
      <h3>
        Rozhodnutí o potřebě ošetřování (péče)</h3>
      <p>
        Tiskopis má dva propisovací díly.</p>
      <p>
        <strong>I. díl </strong>– Rozhodnutí o vzniku potřeby ošetřování (péče) – žádost
        o ošetřovné</p>
      <ul>
        <li>Tento díl předává ošetřující lékař osobě, která potřebuje ošetřování. Jde-li o nemocné
          dítě předává tiskopis osobě, která je k ošetření doprovází. Pojištěnec uplatňující
          nárok na ošetřovné předává tento doklad po doplnění části B svému zaměstnavateli,
          který jej spolu s vyplněným tiskopisem Příloha k žádosti o ošetřovné a potvrzením
          o trvání potřeby ošetřování nebo s rozhodnutím o ukončení potřeby ošetřování předá
          příslušné OSSZ.</li>
      </ul>
      <p>
        <strong>II. díl </strong>– Rozhodnutí o ukončení potřeby ošetřování (péče)</p>
      <ul>
        <li>Ošetřující lékař v tomto díle doplní poslední den potřeby ošetřování (péče) a předá
          jej osobě, která potřebovala ošetřování (osobě, která ji doprovází). Ošetřující
          lékař může rozhodnout o ukončení potřeby ošetřování nejvýše tři kalendářní dny dopředu
          ode dne, kdy vyšetřením zjistil, že potřeba ošetřování (péče) pominula, resp. pomine.
          Pojištěnec vyplní údaje v části B tohoto dílu rozhodnutí. Tiskopis předá svému zaměstnavateli,
          který jej po doplnění údajů v části C zašle příslušné OSSZ.</li>
      </ul>
      <h3>
        Potvrzení o trvání potřeby ošetřování (péče)</h3>
      <p>
        Tímto tiskopisem zaměstnanec prokazuje trvání potřeby ošetřování člena domácnosti.
        Lékař jej vystavuje na požádání zaměstnance, zejména v případech, kdy se osoby v
        ošetřování (péči) o člena domácnosti vystřídaly anebo v případech, kdy jde o dlouhodobě
        trvající potřebu ošetřování. Trvání potřeby ošetřování se potvrzuje ke dni vystavení
        tohoto tiskopisu.</p>
    </div>
    <% i+=1 %>
    <h2 id="<%= i %>"><a class="link">Vracení DPH ze zboží prodaného cizincům</a></h2>
    <div class = "content">
      <ul>
        <li>Pořízené (nakoupené) zboží musí být <strong>vyvezeno do 3 kalendářních měsíců</strong> bylo zakoupeno a současně nárok na vrácení daně musí být uplatněn u prodávajícího do 6 kalendářních měsíců od konce měsíce, kdy bylo uskutečněno zdanitelné plnění. Oba tyto okamžiky se posuzují podle data uskutečnění zdanitelného plnění uvedeného na dokladu o prodeji zboží.
        </li>
        <li>Prodejní cena nakoupeného zboží u jednoho prodejce v jednom kalendářním dni musí být <strong>více jak 2.000 Kč vč. DPH</strong>, zboží <strong>nesmí mít obchodní charakter</strong> a musí být vyvezeno v rámci cestovního styku.</li>
        <li>Kupující nesmí mít bydliště (resp. místo pobytu) v ČR, ani jinde v Evropském společenství, přičemž místo jeho pobytu ve třetí zemi by mělo být zapsáno v cestovním dokladu (většinou pasu) a dále <strong>nesmí kupující uskutečňovat v tuzemsku ekonomickou činnost</strong>.</li>
        <li>Stále zůstává v platnosti povinnost<strong> nechat potvrdit výstup zboží</strong> z Evropského společenství celním úřadem na dokladu o prodeji.</li>
      </ul>
      <h3>Změna pravidel od 1. dubna 2013</h3>
      <p><strong>Od 1. 4. 2013</strong> byla zákonem č. 502/2012 Sb., který novelizoval ZDPH, změněna pravidla v uplatňování nároku na vrácení daně fyzickým osobám ze třetích zemí. Touto novelou byla mj.  <strong>zrušena povinnost vyplňování, předkládání a potvrzování tiskopisu</strong> č. 25 5235 ministerstva financí.</p>
      <p>Prodávající má <strong>nově povinnost</strong> vystavit na vyžádání zahraniční fyzické osoby (kupujícího) doklad o prodeji zboží <strong>ve dvou vyhotoveních</strong> s tím, že na prvním uvede údaj „VAT REFUND“ („originál dokladu o prodeji“) a na druhém dokladu údaj „COPY“ (viz § 84 odst. 3 ZDPH <strong>platného od 1. 4. 2013</strong>). Kromě těchto popisů „VAT REFUND“ a „COPY“ se musí jednat o <strong> obsahově i vizuálně totožná vyhotovení dokladu</strong> o prodeji zboží.</p>
      <p>Doklad o prodeji musí dále obsahovat údaje o kupujícím, jako je jméno a příjmení, místo pobytu zahraniční fyzické osoby, která zboží vyveze, jakožto další standardní náležitosti daňových dokladů podle ZDPH (např. identifikaci dodavatele / prodávajícího, rozsah a předmět plnění, evidenční číslo dokladu, datum uskutečnění zdanitelného plnění, sazbu a výši DPH, základ daně, cenu celkem vč. DPH).</p>
      <p>Celní úřad potvrdí výstup zboží mimo Evropské společenství na prvním vyhotovení dokladu o prodeji s údajem „VAT REFUND“ a splnění podmínek pro vracení daně. <strong>Nepotvrzuje</strong> tedy již na formuláři ministerstva financí. Doposud byl celní úřad povinen potvrdit jak doklad o prodeji zboží, tak i předepsaný tiskopis.</p>
      <p>ZDPH výslovně <strong>neupravuje formu ani vzhled dokladu o prodeji zboží</strong>. Nicméně definuje, co musí obsahovat daňové doklady. Pro účely vracení DPH dle § 84 ZDPH může sloužit „jakýkoliv dokument“ obsahující předepsané náležitosti a informace dle ZDPH.</p>
      <p>Doklad o prodeji zboží <strong>nemusí být nutně totožný</strong> s paragonem, účtenkou, pokladním dokladem, zjednodušeným daňovým dokladem či jiným typem daňového dokladu dle § 26 a násl. ZDPH.</p>
      <p>Jednou z povinných náležitostí dokladu o prodeji zboží je po novele mimo jiné i rozsah a předmět zdanitelného plnění. <strong>Rozsah a předmět zdanitelného plnění</strong> musí být na dokladu o prodeji uveden natolik konkrétně, aby celní úřad mohl potvrdit výstup zboží z Evropského společenství.</p>
    </div>
    <% i+=1  %>
    <h2 id="<%= i %>"><a class="link">Dodanění závazků</a></h2>
    <div class="content">
      <p>Dlužník je povinen zvýšit základ daně o neuhrazené závazky, které jsou více než <strong>30 měsíců po splatnosti</strong> u závazků vzniklých po 1.1.2015.</p>
      <p>Pro závazky, které vznikly před tímto datem, bude plati stará lhůta <strong>36 měsíců</strong>.</p>
      <p><u>§ 23 odst. 3 písm. a) bod 12 ZDP</u>  -> zvýší se účetní výsledek hospodaření za zdaňovací období kalendářního roku daňovém přiznání zápisem do <strong>řádku 30</strong>, který blíže rozvede na zvláštní příloze. Protože jde pouze o daňovou úpravu „základu daně“ pro účely daně z příjmů, nebude dlužník o tomto dodanění samostatně účtovat</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Snížení limitu pro platby v hotovosti</a></h2>
    <div class="content">
      <p>Novelou zákona číslo 254/2004 Sb., o omezení plateb v hotovosti, se snižuje limit pro platby v hotovosti <strong>z dosavadních 350.000 Kč na 270.000 Kč</strong>. Bude se vztahovat i na případy, kdy závazek zaplatit teprve vzniká, tedy na dary a půjčky. Zákon výslovně stanoví, že příjemce je povinen odmítnout hotovostní platbu nad nově stanovený limit. Novela je součástí zákona, kterým se mění některé zákony v oblasti finančního trhu. Účinnost se předpokládá od 1. 12. 2014.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Dovoz zboží ze zemí mimo EU</a></h2>
    <div class="content">
      <p>Při dovozu zboží ze třetích zemí jsou důležité hranice pro osvobození cla a DPH. Zboží v úhrnné hodnotě nepřesahující 22 EUR je osvobozeno od cla i DPH, zboží nad 22 EUR do 150 EUR je osvobozeno od cla, ale bude vyměřena DPH a zboží nad 150 EUR je bez osvobození, tzn. bude vyměřeno clo i DPH.</p>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Sleva na manžela/manželku</a></h2>
    <div class="content">
      <p>pokud nemá vlastní příjem přesahující za zdaňovací období 68 000,- (§ 35ba/1/a ZDP)</p>
      <p><strong>Příjmy, které se do příjmu manžela či manželky nezahrnují (úplný výčet):</strong></p>
      <ul>
        <li>dávky státní sociální podpory,</li>
        <li>dávky pěstounské péče (nejedná se odměny pěstouna),</li>
        <li>dávky osobám se zdravotním postižením,</li>
        <li>dávky pomoci v hmotné nouzi,</li>
        <li>příspěvek na péči, sociální služby,</li>
        <li>státní příspěvky na penzijní připojištění se státním příspěvkem,</li>
        <li>státní příspěvky na doplňkové penzijní spoření,</li>
        <li>státní příspěvky podle zákona o stavebním spoření,</li>
        <li>stipendium poskytované studujícím soustavně se připravujícím na budoucí povolání,</li>
        <li>příjem plynoucí z důvodu péče o blízkou nebo jinou osobu, která má nárok na příspěvek na péči podle zákona o sociálních službách, který je od daně osvobozen.</li>
      </ul>
      <p><strong>Příjmy, které se do příjmů manžela či manželky zahrnují (namátkový výčet, často chybně uplatňovaných):</strong></p>
      <ul>
        <li>veškeré příjmy "v hrubém" od zaměstnavatele, z podnikání, z nájmu atd.,</li>
        <li>včetně příjmů od daně osvobozených např. prodej nemovitosti, auta, cenných papírů,</li>
        <li>všechny druhy důchodů,</li>
        <li>nemocenská,</li>
        <li>náhrada mzdy při pracovní neschopnosti,</li>
        <li>ošetřování člena rodiny,</li>
        <li>podpora v nezaměstnanosti,</li>
        <li>peněžitá pomoc v mateřství,</li>
        <li>odměny pěstouna.</li>
      </ul>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Archivace</a></h2>
    <div class="content">
      <p>
        <strong>Z hlediska účetních předpisů </strong>stanoví zákon č. 563/1991 Sb., o účetnictví,
        v § 31 lhůty, po které je nutno uschovávat účetní záznamy.
      </p>
      <p>
        <strong>Z hlediska daňových předpisů </strong>je třeba příslušné doklady archivovat
        po celou dobu, po kterou neskončila lhůta pro vyměření daně.<strong> Základní lhůta</strong>
        je stanovena na <span>3 roky po uplynutí roku, v němž vznikla daňová povinnost</span>.
      </p>
      <p>
        Tato lhůta se <strong>prodlužuje</strong> v případě přijetí investiční pobídky formou
        poskytnutí slevy na dani na celou dobu uplatňování této slevy, dále <strong>při uplatňování
          ztráty minulých let</strong>, včetně roku vzniku ztráty, a při nesplnění podmínek
        pro uznání nákladů <strong>u finančního leasingu</strong>, kdy začíná lhůta pro
        doměření daně běžet od konce kalendářního roku, v němž bylo možno poprvé ověřit
        splnění těchto podmínek. Tato lhůta může skutečně být <span>až 11 let</span>. Ustanovení
        § 38r ZDP možné lhůty pro vyměření či dodatečné vyměření daně proti § 47 ZSDP prodlužuje.
        Doplněním odst. 4 do tohoto ustanovení byl pouze potvrzen původní záměr, aby tyto
        lhůty byly platné pro všechny poplatníky vykazující daňovou ztrátu či pořizující
        majetek formou finančního leasingu, a nikoliv pouze pro poplatníky čerpající investiční
        pobídky, jak bylo z původního znění tohoto ustanovení dovozováno. <strong>Pokud však
          poplatník nepatří mezi výše uvedené poplatníky, tedy pokud nedostal investiční pobídku,
          nevykázal daňovou ztrátu ani nepořídil majetek formou finančního leasingu, tato
          prodloužená lhůta se ho netýká</strong>.
      </p>
      <p><a href="http://www.archivovani.cz/skartacni-lhuty">Skartační lhůty</a></p>
      <br />
      <p><strong>V souladu se <%= link_to "zákonem o účetnictví", "https://www.podnikatel.cz/zakony/zakon-c-563-1991-sb-o-ucetnictvi/" %> je možné archivovat: </p>
      </strong>
      <ul>
        <li><strong>v listinné podobě</strong> – papírový účetní záznam pořízený rukopisem, psacím strojem, tiskařskými nebo reprografickými technikami anebo počítačová tisková sestava.</li>
        <li><strong>v technické podobě</strong> – účetní záznam provedený elektronickým, optickým nebo jiným způsobem, který umožňuje jeho převedení do čitelné formy, např. archivace na CD.</li>
      </ul>
      <p><strong>Po skončení účetního období se archivuje:</p>
      </strong>
      <ul>
        <li>účetní závěrka, výroční zpráva – <strong>10 let</strong></li>
        <li>účetní doklady, účetní knihy, odpisové plány, inventurní soupisy, účtový rozvrh, přehledy – <strong>5 let</strong></li>
        <li>účetní záznamy, kterými účetní jednotky dokládají vedení účetnictví – <strong>5 let</strong></li>
      </ul>
      <p>Dokumenty z personalistiky se archivují od roku, který následuje po roce, kterého se dokumenty týkají:</p>
      <ul>
        <li>stejnopisy evidenčních listů – 3 roky</li>
        <li>mzdové listy, účetní záznamy o údajích potřebných pro účely důchodového pojištění – 30 let (u starobního důchodu pouze 10 let)</li>
        <li>u obchodní společnosti (a obdobně i družstva) seznam společníků, členů statutárního orgánu, dozorčí rady a přehled, kdy tato společnost neodvedla pojistné na sociální zabezpečení a příspěvek na státní politiku zaměstnanosti – 6 let (3 roky po zaplacení dlužného pojistného)</li>
      </ul>
      <p>Podnikatelé – <strong>plátci daně z přidané hodnoty</strong> archivují:</p>
      <ul>
        <li>daňové doklady – <strong>10</strong> let od konce zdaňovacího období.</li>
      </ul>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Jiné důležité osobní překážky v práci bez náhrady mzdy podle nařízení vlády číslo 590/2006 Sb.</a></h2>
    <div class="content">
      <span>Vyšetření nebo ošetření</span>
      <ul>
        <li>bylo-li provedeno v jiném než nejbližším zdravotnickém zařízení, poskytne se pracovní volno na nezbytně nutnou dobu; náhrada mzdy nebo platu nepřísluší za dobu přesahující dobu, za kterou by vyšetření bylo provedeno v nejbližším zdravotnickém zařízení.</li>
        <li>které bylo možné provést mimo pracovní dobu.</li>
      </ul>
      <span>Přerušení dopravního provozu nebo zpoždění hromadných dopravních prostředků</span>
      <ul>
        <li>nemohl-li zaměstnanec dosáhnout včas místa pracoviště jiným přiměřeným způsobem.</li>
      </ul>
      <span>Svatba</span>
      <ul>
        <li>v případě poskytnutí pracovního volna na 2 dny na vlastní svatbu, za 1 den z těchto 2 dnů náhrada mzdy nepřísluší.</li>
        <li>1 den dítěti při svatbě rodičů.</li>
      </ul>
      <span>Narození dítěte</span>
      <ul>
        <li>účast při porodu manželky (družky).</li>
      </ul>
      <span>Přestěhování</span>
      <ul>
        <li>na nezbytně nutnou dobu, nejvýše na 2 dny, při přestěhování zaměstnance, který má vlastní bytové zařízení.</li>
      </ul>
      <span>Vyhledání nového zaměstnání</span>
      <ul>
        <li>na nezbytně nutnou dobu, nejvýše na 1 půlden v týdnu, po dobu odpovídající výpovědní době v délce 2 měsíců.</li>
      </ul>
      <span>Doprovod</span>
      <ul>
        <li>doprovod rodinných příslušníků, mimo manžela, druha, dítěte, rodiče a prarodiče zaměstnance nebo jeho manžela, do zdravotnického zařízení k vyšetření nebo ošetření při náhlém onemocnění nebo úrazu a k předem stanovenému vyšetření, ošetření nebo léčení.</li>
        <li>doprovod dítěte do školského poradenského zařízení je zjištění speciálních vzdělávacích potřeb dítěte.</li>
      </ul>
    </div>
    <% i+=1%>
    <h2 id="<%= i %>"><a class="link">Jiné důležité osobní překážky v práci s náhradou mzdy</a></h2>
    <div class="content">
      <span>Vyšetření nebo ošetření</span><br>
      na nezbytně nutnou dobu, bylo-li vyšetření nebo ošetření provedeno ve zdravotnickém zařízení, které je ve smluvním vztahu ke zdravotní pojišťovně, kterou si zaměstnanec zvolil, a které je <strong>nejblíže </strong>bydlišti nebo pracovišti zaměstnance a je schopné potřebnou zdravotní péči poskytnout, pokud vyšetření nebo ošetření nebylo možné provést <strong>mimo pracovní dobu</strong>.
      <ul>
        <li>bylo-li provedeno v jiném než nejbližším zdravotnickém zařízení, poskytne se pracovní volno na nezbytně nutnou dobu; náhrada mzdy nebo platu však přísluší nejvýše za dobu podle předchozího odstavce.</li>
      </ul>
      <span>Pracovnělékařská prohlídka, vyšetření nebo očkování související s výkonem práce</span>
      <ul>
        <li>na nezbytně nutnou dobu v rozsahu stanoveném zvláštními právními předpisy nebo rozhodnutím příslušného orgánu ochrany veřejného zdraví.</li>
      </ul>
      <span>Znemožnění cesty do zaměstnání</span>
      <ul>
        <li>na nezbytně nutnou dobu, nejvýše na 1 den, z povětrnostních důvodů nehromadným dopravním prostředkem, který používá těžce zdravotně postižený zaměstnanec.</li>
      </ul>
      <span>Svatba</span>
      <ul>
        <li>pracovní volno se poskytne na 2 dny na vlastní svatbu, z toho 1 den k účasti na svatebním obřadu; náhrada mzdy nebo platu přísluší však pouze za 1 den z těchto dnů.</li>
        <li>rodiči na 1 den k účasti na svatbě dítěte</li>
      </ul>
      <span>Narození dítěte</span>
      <ul>
        <li>na nezbytně nutnou dobu <strong>k převozu manželky</strong> (družky) do zdravotnického zařízení a zpět.</li>
      </ul>
      <span>Úmrtí</span>
      <ul>
        <li><strong>2 dny při úmrtí</strong> manžela, druha nebo dítěte a na<strong> další den k účasti na pohřbu</strong> těchto osob,</li>
        <li><strong>1 den k účasti na pohřbu</strong> rodiče a sourozence zaměstnance, rodiče a sourozence jeho manžela, jakož i manžela dítěte nebo manžela sourozence zaměstnance a na další den, jestliže zaměstnanec obstarává pohřeb těchto osob,</li>
        <li>na nezbytně nutnou dobu, nejvýše na 1 den, k účasti na pohřbu prarodiče nebo vnuka zaměstnance nebo prarodiče jeho manžela nebo jiné osoby, která sice nepatří k uvedeným fyzickým osobám, ale žila se zaměstnancem v době úmrtí v domácnosti, a na další den, jestliže zaměstnanec obstarává pohřeb těchto osob.</li>
      </ul>
      <span>Doprovod</span>
      <ul>
        <li>manžela, druha nebo dítěte, jakož i rodiče a prarodiče zaměstnance <strong>do zdravotnického zařízení</strong> k vyšetření nebo ošetření při náhlém onemocnění nebo úrazu a k předem stanovenému vyšetření, ošetření nebo léčení se poskytne jen jednomu z rodinných příslušníků na nezbytně nutnou dobu, nejvýše však na 1 den, byl-li doprovod nezbytný a uvedené úkony nebylo možno provést mimo pracovní dobu,</li>
        <li>zdravotně postiženého dítěte do zařízení sociálních služeb nebo do školy nebo školského zařízení samostatně zřízených pro žáky se zdravotním postižením s internátním provozem a zpět se poskytne jen jednomu z rodinných příslušníků na nezbytně nutnou dobu, nejvýše však na 6 pracovních dnů v kalendářním roce.</li>
      </ul>
      <span>Pohřeb spoluzaměstnance</span>
      <ul>
        <li>na nezbytně nutnou dobu zaměstnancům, kteří se zúčastní pohřbu spoluzaměstnance; tyto zaměstnance určí zaměstnavatel nebo zaměstnavatel v dohodě s odborovou organizací.</li>
      </ul>
      <span>Přestěhování</span>
      <ul>
        <li>na nezbytně nutnou dobu, nejvýše na 2 dny, jde-li o přestěhování v zájmu zaměstnavatele.</li>
      </ul>
      <span>Vyhledání nového zaměstnání</span>
      <ul>
        <li>na nezbytně nutnou dobu, nejvýše na 1 půlden v týdnu, po dobu před skončením pracovního poměru výpovědí danou zaměstnavatelem z důvodů uvedených v § 52 písm. a) až e) zákoníku práce, nebo dohodou z týchž důvodů. Pracovní volno je možné se souhlasem zaměstnavatele slučovat.</li>
      </ul>
    </div>
  </article>
</section>
