<% i = -1 %>


<section class="actually top_nav_content">
  <h1>Aktuálně</h1>
  <article>


    <% i+=1%><h2 id="<%= i %>"><a class="link">Identifikovaná osoba v roce 2015</a></h2>
     <div class = "content">
       <p><strong>Od 1. 1. 2015 zavádí novela zákona o DPH ke stávajícím důvodům povinné registrace identifikované osoby navíc možnost dobrovolné registrace.</strong></p>
       <p><strong>Identifikovanou osobou</strong> se stává osoba povinná k dani, která není plátce DPH, za podmínek stanovených <a href="http://portal.pohoda.cz/zakony/danove-a-financni-pravo/zakon-o-dani-z-pridane-hodnoty-2015/">zákonem o DPH</a>“). <strong>Osobou povinnou k dani</strong> je fyzická nebo právnická osoba, která uskutečňuje ekonomické činnosti. Zjednodušeně řečeno je osobou povinnou k dani <strong>každý podnikatel</strong>.</p>
       <p>Identifikovaná osoba <strong>nemá nárok na odpočet DPH na vstupu</strong>. Ten může uplatnit pouze plátce.</p>
       <p>Identifikovaná osoba má <strong>měsíční zdaňovací období </strong>a přiznání podává <strong>pouze za měsíc, ve kterém jí vznikla povinnost přiznat daň</strong>. Přiznání podává identifikovaná osoba stejně jako plátce<strong> do 25. dne následujícího měsíce</strong>. Ve stejné lhůtě je splatná i daň.</p>
       <h3>Povinná registrace identifikované osoby</h3>
       <p>Osoba povinná k dani se stává identifikovanou osobou povinně ze zákona v následujících případech.</p>
       <ul>
         <li><strong>Pořízení zboží z EU nad limit – § 6g ZDPH</strong></li>
       </ul>
       <p>Osoba povinná k dani se stává identifikovanou osobou, pokud v předchozím kalendářním roce pořídila <strong>zboží z EU v hodnotě přesahující 326 000 Kč</strong>.</p>
       <p>Při sestavování přiznání se pořízení zboží z EU promítne na ř. 3 (základní sazby) nebo 4 (snížená sazba) přiznání k DPH.</p>
       <ul>
         <li><strong>Přijetí služby z EU – § 6h ZDPH</strong></li>
       </ul>
      <p>Při přijetí služby z EU nebo ze třetí země <strong>nezáleží</strong> na rozdíl od pořízení zboží z EU <strong>na částce</strong>. Pokud je <strong>místo plnění v tuzemsku</strong>, stává se příjemce služby osobou identifikovanou k dani, a to ke dni přijetí služby.</p>
      <p>Při sestavování přiznání se pak pořízení služby z EU promítne na ř. 5 (základní sazby) nebo 6 (snížená sazba) přiznání k DPH.</p>
      <ul>
        <li><strong>Přijetí služby z třetí země (mimo EU) – § 6h ZDPH</strong></li>
      </ul>
      <p>Osoba povinná k dani se stává identifikovanou osobou <strong>ke dni přijetí služby ze třetí země</strong>(mimo EU).  Při sestavování přiznání se pak promítnutí služby z třetí země na řádek 12 (základní sazba) nebo 13 (snížená sazba) daňového přiznání.</p>
      <ul>
        <li><strong>Poskytnutí služby do EU – § 6i ZDPH</strong></li>
      </ul>
      <p>Osoba povinná k dani se stává identifikovanou osobou ode dne poskytnutí služby osobě povinné k dani s místem plnění v jiném členském státě podle § 9 odst. 1 ZDPH.</p>
      <p>V tomto případě <strong>neplatí identifikovaná osoba DPH</strong>, protože <strong>povinnost platit daň přenese na příjemce služby v jiném členském státě</strong>.</p>
      <p><strong>Souhrnné hlášení se podává</strong> vždy <strong>elektronicky do 25. dne následujícího měsíce</strong> po měsíci poskytnutí služby.</p>
      
      <h3>Dobrovolná registrace identifikované osoby</h3>
      <p><strong>Od 1. 1. 2015 zavádí</strong> novela zákona o DPH ke stávajícím důvodům povinné registrace identifikované osoby navíc <strong>možnost dobrovolné registrace identifikované osoby</strong>.</p>
      <p>Osoba povinná k dani se stává identifikovanou osobou ode dne následujícího po dni oznámení rozhodnutí, kterým je tato osoba registrována. A to v následujících případech.</p>
      <ul>
        <li><strong>Bude poskytovat vybrané služby v rámci zvláštního režimu jednoho správního místa – § 6j ZDPH</strong></li>
      </ul>
      <p><strong>Od 1. 1. 2015</strong> dochází ke změně místa plnění u poskytování elektronických služeb koncovým zákazníkům. Místo plnění bude <strong>v místě příjemce služby</strong>.</p>
      <p>Pro zjednodušení výběru daní se zavádí v rámci EU <strong>zvláštní režim jednoho správního místa</strong> nebo také <strong>Mini One Stop Shop</strong>.</p>
      <ul>
        <li><strong>Pořizuje zboží z jiného státu EU do limitu – § 6k ZDPH</strong></li>
        </ul>
      <p>Osoba povinná k dani, která pořizuje zboží z jiného státu EU do limitu 326 000 Kč ročně, se může rozhodnout, že se stane dobrovolně identifikovanou osobou. Po překročení limitu se stává identifikovanou osobou povinně podle § 6g ZDPH.</p>   
      <ul>
        <li><strong>Bude pořizovat služby z EU nebo třetí země – § 6l ZDPH</strong></li>
      </ul>
      <p>Plánuje-li osoba povinná k dani pořizovat služby z EU nebo třetí země, při jejichž pořízení by se stala identifikovanou osobou podle § 6h, může se <strong>dobrovolně registrovat jako identifikovaná osoba ještě před pořízením služby</strong>.</p>
      <hr />       
      <p><i><strong>Příklad</strong></i></p>      
      <p><i>
        Česká osoba povinná k dani (není plátce ani identifikovaná osoba) si objedná reklamní služby od slovenského plátce DPH. Slovenský plátce požaduje platné DIČ, aby mohl vykázat poskytnutí služby do souhrnného hlášení. Proto se česká osoba povinná k dani dobrovolně registruje jako identifikovaná osoba ještě před přijetím služby a sdělí slovenskému poskytovateli služby své DIČ.</i></p><p><i>Pokud by česká osoba toto neudělala, stala by se identifikovanou osobou ze zákona v okamžiku přijetí služby.</i></p>
      
     </div>


    <% i+=1%><h2 id="<%= i %>"><a class="link">Vracení DPH ze zboží prodaného cizincům</a></h2>
    <div class = "content">
      <ul>
        <li>Pořízené (nakoupené) zboží musí být <strong>vyvezeno do 3 kalendářních měsíců</strong> bylo zakoupeno a současně nárok na vrácení daně musí být uplatněn u prodávajícího do 6 kalendářních měsíců od konce měsíce, kdy bylo uskutečněno zdanitelné plnění. Oba tyto okamžiky se posuzují podle data uskutečnění zdanitelného plnění uvedeného na dokladu o prodeji zboží.
</li>
          <li>Prodejní cena nakoupeného zboží u jednoho prodejce v jednom kalendářním dni musí být <strong>více jak 2.000 Kč vč. DPH</strong>, zboží <strong>nesmí mít obchodní charakter</strong> a musí být vyvezeno v rámci cestovního styku.</li>
          <li>Kupující nesmí mít bydliště (resp. místo pobytu) v ČR, ani jinde v Evropském společenství, přičemž místo jeho pobytu ve třetí zemi by mělo být zapsáno v cestovním dokladu (většinou pasu) a dále <strong>nesmí kupující uskutečňovat v tuzemsku ekonomickou činnost</strong>.</li>
            <li>Stále zůstává v platnosti povinnost<strong> nechat potvrdit výstup zboží</strong> z Evropského společenství celním úřadem na dokladu o prodeji.</li>
          </ul>
    <h3>Změna pravidel od 1. dubna 2013</h3>
    <p><strong>Od 1. 4. 2013</strong> byla zákonem č. 502/2012 Sb., který novelizoval ZDPH, změněna pravidla v uplatňování nároku na vrácení daně fyzickým osobám ze třetích zemí. Touto novelou byla mj.  <strong>zrušena povinnost vyplňování, předkládání a potvrzování tiskopisu</strong> č. 25 5235 ministerstva financí.</p>
    
    <p>Prodávající má <strong>nově povinnost</strong> vystavit na vyžádání zahraniční fyzické osoby (kupujícího) doklad o prodeji zboží <strong>ve dvou vyhotoveních</strong> s tím, že na prvním uvede údaj „VAT REFUND“ („originál dokladu o prodeji“) a na druhém dokladu údaj „COPY“ (viz § 84 odst. 3 ZDPH <strong>platného od 1. 4. 2013</strong>). Kromě těchto popisů „VAT REFUND“ a „COPY“ se musí jednat o <strong> obsahově i vizuálně totožná vyhotovení dokladu</strong> o prodeji zboží.</p>
    
    <p>Doklad o prodeji musí dále obsahovat údaje o kupujícím, jako je jméno a příjmení, místo pobytu zahraniční fyzické osoby, která zboží vyveze, jakožto další standardní náležitosti daňových dokladů podle ZDPH (např. identifikaci dodavatele / prodávajícího, rozsah a předmět plnění, evidenční číslo dokladu, datum uskutečnění zdanitelného plnění, sazbu a výši DPH, základ daně, cenu celkem vč. DPH).</p>
        
    <p>Celní úřad potvrdí výstup zboží mimo Evropské společenství na prvním vyhotovení dokladu o prodeji s údajem „VAT REFUND“ a splnění podmínek pro vracení daně. <strong>Nepotvrzuje</strong> tedy již na formuláři ministerstva financí. Doposud byl celní úřad povinen potvrdit jak doklad o prodeji zboží, tak i předepsaný tiskopis.</p>
    
    <p>ZDPH výslovně <strong>neupravuje formu ani vzhled dokladu o prodeji zboží</strong>. Nicméně definuje, co musí obsahovat daňové doklady. Pro účely vracení DPH dle § 84 ZDPH může sloužit „jakýkoliv dokument“ obsahující předepsané náležitosti a informace dle ZDPH.</p>
    
    <p>Doklad o prodeji zboží <strong>nemusí být nutně totožný</strong> s paragonem, účtenkou, pokladním dokladem, zjednodušeným daňovým dokladem či jiným typem daňového dokladu dle § 26 a násl. ZDPH.</p>
    
    <p>Jednou z povinných náležitostí dokladu o prodeji zboží je po novele mimo jiné i rozsah a předmět zdanitelného plnění. <strong>Rozsah a předmět zdanitelného plnění</strong> musí být na dokladu o prodeji uveden natolik konkrétně, aby celní úřad mohl potvrdit výstup zboží z Evropského společenství.</p>
  </div>



<% i+=1%><h2 id="<%= i %>"><a class="link">Daňové zvýhodnění na děti a sleva za umístění dítěte od 1. 1. 2015</a></h2>
<div class="content">
  
  <h3>Daňové zvýhodnění na děti</h3>
    <ul>
      <li>1. dítě: 13 404 Kč/rok; 1 117 Kč/měsíc</li>
      <li>2. dítě: 15 804 Kč/rok; 1 317 Kč/měsíc</li>
      <li>3. dítě: 17 004 Kč/rok; 1 417 Kč/měsíc</li>
    </ul>
    
    
<p>Podmínky pro uplatnění nároku zůstávají prakticky stejné. Základním pravidlem je, <strong>že dítě musí žít ve společně hospodařící domácnosti</strong>, dále musí mít poplatník minimální příjem ve výši šestinásobku minimální mzdy za rok (v roce 2015 tedy částku 6 x 9.200 = <strong>55.200 Kč</strong>).</p>
<p><strong>Daňový nerezident ČR</strong> může uplatnit daňové zvýhodnění, pokud je rezidentem členského státu EU nebo státu v EHP a pokud úhrn příjmů z ČR tvoří minimálně 90 % všech jeho příjmů.</p>

<p>I nadále <strong>nemohou daňové zvýhodnění využít podnikatelé nebo pronajímatelé</strong>, pokud uplatní výdajové paušály a takovýto základ daně je vyšší než 50 % celkového základu.</p>
<h3>Sleva za umístění dítěte</h3>
<p>Tuto slevu je možné využít již <strong>zpětně za rok 2014</strong>, a to „ve výši vynaložených nákladů na umístění dítěte v zařízení péče o dítě předškolního věku včetně mateřské školy podle školského zákona“, jak praví <a href="portal.pohoda.cz/zakony/danove-a-financni-pravo/zakon-o-danich-z-prijmu-2015/">zákon o daních z příjmů</a> (viz § 35bb).</p>
<p>Jedná se o částku tzv. <strong>školkovného</strong>, tedy <strong>částku bez stravného</strong>. Maximální sleva za kalendářní rok je omezena výší minimální mzdy k 1. dni zdaňovacího období. <strong>Pro rok 2014</strong> je to částka <strong>8.500 Kč,pro rok 2015</strong> to bude částka <strong>9.200 Kč</strong>.</p>
<p>Podmínkou pro uplatnění je <strong>předložení potvrzení školky</strong> o výši vynaložených nákladů s uvedením dítěte, na které se toto školkovné hradilo (<strong>není předepsána přesná forma tohoto potvrzení</strong>, jen musí <strong>obsahovat požadované údaje</strong>).</p>
<p>Na rozdíl od daňového zvýhodnění na dítě, kterému se někdy nesprávně říká sleva na dítě, <strong>je možné tuto slevu využít jen do výše vypočtené daně</strong>, a ne formou daňového bonusu jako vratku daně.</p>
<p>Sleva za umístění dítěte má své <strong>opodstatnění až při ročním zúčtování</strong> daně nebo <strong>při zpracování daňového přiznání</strong>, nikoli při měsíčním zpracování mezd.</p>

<p>Oba druhy úlev (zvýhodnění na dítě a sleva „za školku“)  pro rodiče mohou využít nejen <strong>zaměstnanci v rámci ročního zúčtování daně</strong>, ale lze je <strong>využít také v daňovém přiznání</strong> (u podnikatelů využívajících výdajové paušály <strong>není možné uplatnit daňové zvýhodnění, slevu za školku již ano</strong>).</p>
 
<p>Nemusí být ani dodržen postup, že slevu za školku uplatňuje ten rodič, který uplatňuje daňové zvýhodnění. Existuje tedy bezpočet kombinací, jak tyto úlevy uplatnit, jen je důležité vyplnit správné formuláře a získat všechna potvrzení.</p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Neplacené volno a zdravotní pojištění</a></h2>
<div class="content">
  <p>Od roku 2015 neplacené volno již <strong>nezvyšuje</strong> odvod zdravotního pojištění, při dodržení minimálního vyměřovacího základu.</p>
</div>


<% i+=1%><h2 id="<%= i %>"><a class="link">Stavebnictví 2015</a></h2>
<div class="content">
  <p>Nová úprava u stavebních a montážních prací na dokončených stavbách pro bydlení a na stavbách pro sociální bydlení</p>
  <p>S účinností od 1. 1. 2015 je zavedena <strong>nová úprava první snížené sazby DPH </strong>u stavebních a montážních prací na dokončených stavbách pro bydlení a na stavbách pro sociální bydlení (vč. jejich výstavby).</p>
  <p>Problematika „příslušenství“ je novelou řešena na základě definice pozemku, který tvoří funkční celek se stavbou pevně spojenou se zemí, a nová je i definice obytného prostoru. Nově je také definován obytný prostor pro sociální bydlení.<p>
    <p>Sazby daně u bytové výstavby a staveb pro sociální bydlení zůstávají bez věcných změn, nicméně nově se do podlahové plochy bytu (obytného prostoru) započítává podlahová plocha, která je zastavěna vnitřními stěnami. Dále se dle nové právní úpravy podlahová plocha místnosti, která je užívána s obytným prostorem a nachází se ve stejné stavbě, jako tento obytný prostor (podlahová plocha sklepa a komory), nezahrne do výpočtu podlahové plochy obytného prostoru tj. do 120 m<sup>2</sup>.</p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Minimální zálohy OSVČ 2015</a></h2>
<div class="content">
  <ul>
    <li>Zdravotní <strong>1797,-</strong></li>
    <li>Sociální hlavní činnost <strong>1943,-</strong>, vedlejší činnost 778,-</li>
    <li>Nemocenské <strong>115,-</strong></li>
  </ul>
</div>


<% i+=1%><h2 id="<%= i %>"><a class="link">Cestovní náhrady 2015</a></h2>
<div class="content">
<h3>Základní náhrady 2014/2015</h3>
<p><i>(§ 157/4 ZP)</i></p>
<ul>
  <li>Za 1 km jízdy 3,70 / 3,70</li>
  <li>Jednostopých vozidel a tříkolek 1,00</li>
  <li>Při použití přívěsu k silničnímu motorovému vozidlu zaměstnavatel sazbu základní náhrady za 1 km jízdy zvýší nejméně o 15 %.</li>
  <li>Základní náhrada u nákladních automobilů, autobusů nebo traktorů přísluší zaměstnanci nejméně ve výši dvojnásobku sazby 3,70 Kč (nejméně tedy 7,40 Kč).</li>
</ul>
<h3>Průměrné ceny PHM 2014/2015</h3>
<p><i>(§ 158/3 ZP)</i></p>
<ul>
  <li>Benzin 95 oktanů 35,70 / 35,90</li>
  <li>Benzin 98 oktanů 37,90 / 38,30</li>
  <li>Nafta 36,00 / 36,10</li>
</ul>
<h3>Tuzemské stravné 2014/2015</h3>
<p><strong>Státní a příspěvková sféra</strong></p>
<p><i>(§ 176/1 ZP)</i></p>
<ul>
  <li>5 – 12 hod. 67-80/ 69-82</li>
  <li>12-18 hod. 102-123 / 104-125</li>
  <li>nad 18 hod. 160-191 / 163-195</li>
</ul>
<p><strong>Podnikatelská sféra</strong></p>
<p><i>(§ 163/1 ZP)</i></p>
<ul>
  <li>5 – 12 hod. 67 / 69</li>
  <li>12-18 hod. 102 / 104</li>
  <li>nad 18 hod. 160 / 163</li>
</ul>
<p>Bylo-li zaměstnanci během pracovní cesty poskytnuto bezplatné jídlo, přísluší mu stravné snížené za každé bezplatné jídlo o hodnotu:</p>
<ul>
  <li>70 % stravného, trvá-li pracovní cesta 5 až 12 hodin,</li>
  <li>35 % stravného, trvá-li pracovní cesta 12 až 18 hodin,</li>
  <li>25 % stravného, trvá-li pracovní cesta déle než 18 hodin.</li>
</ul>
<p>Stravné zaměstnanci nepřísluší, pokud mu během pracovní cesty, která trvá:</p>
<ul>
  <li>5 až 12 hodin, byla poskytnuta 2 bezplatná jídla,12 až 18 hodin, byla poskytnuta 3 bezplatná jídla.</li>
  <li>12 až 18 hodin, byla poskytnuta 3 bezplatná jídla.</li>
</ul>
</div> 

<% i+=1%><h2 id="<%= i %>"><a class="link">Další změny v zákoně o DPH od 1.1.2015</a></h2>
<div class="content">
  <p>Limit obratu pro povinné plátcovství k DPH  zůstane zachován -> 1 mil. Kč</p>
<h3>Režim přenesení daňové povinnosti v roce 2015 uplatní také:</h3>
<ul>
  <li>u emisních povolenek </li>
  <li>u vybraného zboží, pokud celková částka základu daně překročí 100 000 Kč za zdanitelné plnění, překročí 100 tis. Kč, od 1.4.2015 s výjimkou cukrové řepy, kde se uplatní až od 1.9.2015.</li>
  <li>Vybraným zbožím je:</li>
  <li>kukuřice a technické plodiny, včetně olejnatých semen (např. u máku, řepky olejky) a cukrové řepy,</li>
  <li>kovy, včetně drahých kovů, s výjimkou těch, na které se vztahuje zvláštní režim podle § 90 ZDPH a na které se použije režim přenesení daňové povinnosti podle § 92c ZDPH (např. ocelové ingoty a další hutnický materiál jako např. profily, trubky apod)</li>
  <li>mobilní telefony,</li>
  <li>integrované obvody, jako jsou mikroprocesory a centrální procesorové jednotky,</li>
  <li>přenosná zařízení pro automatizované zpracování dat (notebooky, tablety apod.),</li>
  <li>videoherní konzole.</li>
</ul>
<h3>Změny pro poskytovatele elektronických služeb 2015</h3>
<p>Místem plnění u telekomunikačních služeb, služeb rozhlasového a televizního vysílání a elektronicky poskytovaných služeb osobě nepovinné k dani vždy místo usazení příjemce (místo bydliště apod.), a to bez ohledu na osobu poskytovatele. Proti stavu účinného do 31.12.2014 tedy dochází k rozšíření pravidla zdanění uvedených služeb v členském státě usazení i na případy, kdy službu poskytuje osoba povinná k dani usazená v členském státě – v těchto případech se do 31.12.2014 uplatňuje obecné pravidlo (§ 9 odst. 2 ZDPH) a služba je zdaňována ve státě usazení poskytovatele služby.</p>
<p>Aby se např. poskytovatel elektronických služeb sídlící v ČR nemusel z důvodu poskytování těchto služeb osobám nepovinným k dani usazeným v např. v Německu, Polsku a Maďarsku registrovat k dani v jednotlivých členských státech, rozšiřuje se od 1.1.2015 uvedený zvláštní režim i na poskytovatele usazené v EU. Plátce po registraci k tomuto zvláštnímu režimu bude příslušné služby přiznávat přes elektronický portál provozovaný českou daňovou správou, avšak napojený na daňové správy ostatních členských států a přizná zde německou, polskou a maďarskou DPH.</p>
<h3>Odloženo bylo:</h3>
<ul>
  <li>nová pravidla pro zdanění převodu pozemků a staveb dle nového znění § 56 na 1.1.2016</li>
  <li>  dle slovenského vzoru novela zavádí od 1.1.2016 kontrolní hlášení (praděpodobně vykazování každého jednotlivého uskutečněného a přijatého zdanitelného plnění).</li>
  <li>  čtvrtletní plátci budou moci podávat kontrolní hlášení (to novela zavádí od 1.1.2016) podávat čtvrtletně.  </li>
  <li>  novela opět mění pravidla pro uplatnění DPH u převodu a pronájmu nemovitých věcí (§ 56 a 56a) - v případě přijetí pozměňovacího návrhu Senátu by se tato nová pravidla uplatnila až od 1.1.2016.</li>
</ul>
</div> 
    
<% i+=1%><h2 id="<%= i %>"><a class="link">Dodanění závazků</a></h2>
<div class="content">
<p>Dlužník je povinen zvýšit základ daně o neuhrazené závazky, které jsou více než <strong>30 měsíců po splatnosti</strong> u závazků vzniklých po 1.1.2015.</p>
<p>Pro závazky, které vznikly před tímto datem, bude plati stará lhůta <strong>36 měsíců</strong>.</p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Změny v životním pojištění</a></h2>
<div class="content">
<p><strong>Omezení zneužívání daňového zvýhodnění soukromého životního pojištění (§ 6/9/p/3, § 15/6)</strong></p>
<p>Od roku 2015 bude omezena možnost daňové podpory zaplaceného pojistného u takových typů soukromého životního pojištění, u kterých slouží část pojistného i k investování jménem a na účet pojistníka. Důvodem je zneužívání pro nežádoucí daňovou optimalizaci.</p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Limity na výdaje % 2015</a></h2>
<div class="content">
  <ul>
  <li>80 % - 1 600 tis. Kč</li>
  <li>60 % - 1 200 tis. Kč</li>
  <li>40 % - 800 tis. Kč</li>
  <li>30 % - 600 tis. Kč</li>
  </ul>
  <p>Stanovená nejvyšší hranice vždy odpovídá příslušnému procentu z příjmů ve výši dvou milionů 
korun.</p>
</div>	
  
  
<% i+=1%><h2 id="<%= i %>"><a class="link">Minimální mzda od 1. 1. 2015</a></h2>
<div class="content">
<p><i>(Nařízením vlády č. 204/2014 Sb.)</i></p>
<ul>
<li>  55,00 Kč/hod odpracovanou zaměstnancem nebo</li>
<li>   9 200 Kč/měsíc pro zaměstnance odměňovaného měsíční mzdou při týdenní pracovní době 40 hodin</li></ul>
<p>Minimální mzda při omezeném pracovním uplatnění zaměstnance, tj. u zaměstnance, který je poživatelem invalidního důchodu, činí:</p>
<ul>
  <li>48,10 Kč/hod odpracovanou zaměstnancem nebo</li>
  <li>8000 Kč/měsíc pro zaměstnance odměňovaného měsíční mzdou při týdenní pracovní době 40 hodin</li>
</ul>

<p><strong><a href="http://www.ucetni-portal.cz/minimalni-mzda-od-1-1-2015-592-c.html">Nejnižší úrovně zaručené mzdy</a></strong> </p>
<p><strong><a href="http://business.center.cz/business/pravo/zakony/tarify/priloha1.aspx">Charakteristiky tarifních stupňů a příklady prací</a></strong></p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Zahraniční stravné 2015</a></h2>
<div class="content">
<table class="format_table">
<tr><th>Země</th><th>Měna</th><th>Stravné 2014</th><th>Stravné 2015</th></tr>
<tr> <td>Čína</td> <td>euro</td> <td>40</td> <td>40</td> </tr>
<tr> <td>Francie</td> <td>euro</td> <td>45</td> <td>45</td> </tr>
<tr> <td>Itálie</td> <td>euro</td> <td>45</td> <td>45</td> </tr>
<tr> <td>Maďarsko</td> <td>euro</td> <td>35</td> <td>35</td> </tr>
<tr> <td>Německo</td> <td>euro</td> <td>45</td> <td>45</td> </tr>
<tr> <td>Polsko</td> <td>euro</td> <td>35</td> <td>35</td> </tr>
<tr> <td>Rakousko</td> <td>euro</td> <td>45</td> <td>45</td> </tr>
<tr> <td>Rusko</td> <td>euro</td> <td>45</td> <td>45</td> </tr>
<tr> <td>Slovensko</td> <td>euro</td> <td>35</td> <td>35</td> </tr>
<tr> <td>Španělsko</td> <td>euro</td> <td>40</td> <td>40</td> </tr>
<tr> <td>USA</td> <td>amer. dolar</td> <td>50</td> <td>50</td> </tr>
<tr> <td>Velká Británie</td> <td>angl. libra</td> <td>40</td> <td>40</td> </tr>
</table>
</div>


<% i+=1%><h2 id="<%= i %>"><a class="link">Snížení limitu pro platby v hotovosti</a></h2>
<div class="content">
<p>Novelou zákona číslo 254/2004 Sb., o omezení plateb v hotovosti, se snižuje limit pro platby v hotovosti <strong>z dosavadních 350.000 Kč na 270.000 Kč</strong>. Bude se vztahovat i na případy, kdy závazek zaplatit teprve vzniká, tedy na dary a půjčky. Zákon výslovně stanoví, že příjemce je povinen odmítnout hotovostní platbu nad nově stanovený limit. Novela je součástí zákona, kterým se mění některé zákony v oblasti finančního trhu. Účinnost se předpokládá od 1. 12. 2014.</p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Dovoz zboží ze zemí mimo EU</a></h2>
<div class="content">
  <p>Při dovozu zboží ze třetích zemí jsou důležité hranice pro osvobození cla a DPH. Zboží v úhrnné hodnotě nepřesahující 22 EUR je osvobozeno od cla i DPH, zboží nad 22 EUR do 150 EUR je osvobozeno od cla, ale bude vyměřena DPH a zboží nad 150 EUR je bez osvobození, tzn. bude vyměřeno clo i DPH.</p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Sleva pro důchodce za rok 2013 zpětně přiznána</a></h2>
<div class="content">
<p>Na základě právní analýzy nálezu Ústavního soudu I.ÚS 2340/2013 dospěla finanční správa k závěru, že ustanovení znemožňující uplatnit základní slevu na dani z příjmů pro starobní důchodce nebude za rok 2013 aplikovat. Fyzické osoby dotčené touto skutečností, u kterých sleva na dani doposud nebyla zohledněna, mohou svůj nárok uplatnit podáním řádného (dodatečného) daňového přiznání za zdaňovací období roku 2013. </p>
  <a href="http://www.financnisprava.cz/cs/dane-a-pojistne/dane/dan-z-prijmu/dotazy-a-odpovedi/casto-kladene-dotazy-sleva-na-dani-pro-starobni-duchodce-5391">
    Dotazy a odpovědi k uplatňování slevy na dani pro starobní důchodce
  </a>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Sazba 10 % DPH od 2015</a></h2>
<div class="content">
<p>„Sazbová“ novela zavádí druhou sníženou sazbu DPH ve výši 10 %, která se použije na nezbytně nutnou dětskou výživu, léky, veterinární léčiva a knihy.</p>
<p><strong>počáteční a pokračovací kojenecká výživa a potraviny pro malé děti</strong></p>
  <p>Vše je definováno odkazem na nařízení (EU) č. 609/2013, o potravinách určených pro kojence a malé děti, potravinách pro zvláštní lékařské účely a náhradě celodenní stravy pro regulaci hmotnosti. To však příliš mnoho odpovědí nedává.</p>
<p>  „Počáteční kojeneckou výživou“ se rozumí potraviny, které jsou určeny pro kojence (dítě do dvanácti měsíců věku) během prvních měsíců života a které odpovídají samy o sobě výživovým požadavkům těchto kojenců až do doby zavedení vhodných příkrmů.</p>
<p>  „Pokračovací kojeneckou výživou“ se rozumí potraviny, které jsou určeny pro kojence po zavedení vhodných příkrmů a které vytvářejí základní tekutý podíl postupně se rozšiřující smíšené stravy těchto kojenců.</p>
<p>  „Potravinami pro malé děti (dítě od jednoho roku do tří let věku)“ se rozumí potraviny, které jsou určeny ke splnění zvláštních požadavků zdravých kojenců při odstavování a zdravých malých dětí jako doplněk jejich stravy a/nebo k jejich postupnému přizpůsobování na běžnou stravu, kromě obilných příkrmů a mléčných nápojů a podobných výrobků určených malým dětem.</p>
<ul><li> <strong> prostředky pro zdravotní a veterinární služby, prevenci nemocí a léčbu pro humánní a veterinární lékařské účely</strong></li>
<li>  <strong>tištěné knihy, pokud reklama nepřesahuje 50 % plochy</strong></li></ul>
<p>  Zároveň byl schválen pozměňovací návrh k sněmovnímu tisku č. 291, kterým se do druhé snížené sazby daně 10 % přidávají též mlýnské výrobky z obilovin, brambor, ze sušených luštěnin, sága, kořenů nebo hlíz, dále pak slad, škroby, pšeničný lepek a směsi těchto výrobků, upravené <strong>mlýnské výrobky a připravené směsi k přípravě potravin pro osoby s nesnášenlivostí lepku</strong>.</p>
  

</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Sleva na manžela/manželku</a></h2>
<div class="content">
    <p>pokud nemá vlastní příjem přesahující za zdaňovací období 68 000,- (§ 35ba/1/a ZDP)</p>
    <p><strong>Příjmy, které se do příjmu manžela či manželky nezahrnují (úplný výčet):</strong></p>
    <ul>
      <li>dávky státní sociální podpory,</li>
      <li>dávky pěstounské péče (nejedná se odměny pěstouna),</li>
      <li>dávky osobám se zdravotním postižením,</li>
      <li>dávky pomoci v hmotné nouzi,</li>
      <li>příspěvek na péči, sociální služby,</li>
      <li>státní příspěvky na penzijní připojištění se státním příspěvkem,</li>
      <li>státní příspěvky na doplňkové penzijní spoření,</li>
      <li>státní příspěvky podle zákona o stavebním spoření,</li>
      <li>stipendium poskytované studujícím soustavně se připravujícím na budoucí povolání,</li>
      <li>příjem plynoucí z důvodu péče o blízkou nebo jinou osobu, která má nárok na příspěvek na péči podle zákona o sociálních službách, který je od daně osvobozen.</li>
    </ul>
    <p><strong>Příjmy, které se do příjmů manžela či manželky zahrnují (namátkový výčet, často chybně uplatňovaných):</strong></p>
    <ul>
      <li>veškeré příjmy "v hrubém" od zaměstnavatele, z podnikání, z nájmu atd.,</li>
      <li>včetně příjmů od daně osvobozených např. prodej nemovitosti, auta, cenných papírů,</li>
      <li>všechny druhy důchodů,</li>
      <li>nemocenská,</li>
      <li>náhrada mzdy při pracovní neschopnosti,</li>
      <li>ošetřování člena rodiny,</li>
      <li>podpora v nezaměstnanosti,</li>
      <li>peněžitá pomoc v mateřství,</li>
      <li>odměny pěstouna.</li>
    </ul>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Cestovní náhrady 2014</a></h2>
<div class="content">
    <h3>Základní náhrady 2013/2014</h3>
    <i>(§ 157/4 ZP)</i> <br>
    <ul>
      <li>Za 1 km jízdy 3,60 / 3,70</li>
    </ul>
    <h3>Průměrné ceny PHM 2013/2014</h3>
      
    <i> (§ 158/3 ZP)</i> <br>
    <ul>
      <li>Benzin 95 oktanů 36,10 / 35,70</li>
      <li>Benzin 98 oktanů 38,60 / 37,90</li>
      <li>Nafta 36,50 / 36,00</li>
    </ul>
    <h3>Tuzemské stravné 2013/2014</h3>
    <p><strong>Státní a příspěvková sféra</strong></p>
    <i>(§ 176/1 ZP)</i> <br>
    <ul>
      <li>2013 / 2014</li>
      <li>5 – 12 hod.  66-79 / 67-80</li>
      <li>12-18 hod.  100-121 / 102-123</li>
      <li>nad 18 hod. 157-188 / 160-191</li>
    </ul>
    <p><strong>Podnikatelská sféra</strong></p>
    <i>(§ 163/1 ZP)</i> <br>
    <ul>
      <li>2013/ 2014</li>
      <li>5 – 12 hod. 66 / 67</li>
      <li>12-18 hod. 100 / 102</li>
      <li>nad 18 hod. 157 / 160</li>
    </ul>


  </div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Minimální zálohy OSVČ 2014</a></h2>
<div class="content">
    <ul>
      <li><span>Zdravotní </span>1752,-</li>
      <li><span>Sociální  hlavní činnost</span> 1894,-;  <span>vedlejší činnost </span>758,-</li>
      <li><span>Nemocenské </span>115,-  </li>
    </ul>
    <p>Podmínka, která určovala, že OSVČ, která je účastna nemocenského pojištění, nemůže být považována za OSVČ vykonávající vedlejší činnost, přestože trvaly důvody pro vedlejší činnost, je od 1. 1. 2014 zrušena.</p>
  </div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Zdanění DPP bez prohlášení 2014</a></h2>
<div class="content">
    <p>Srážková daň u mezd u zaměstnanců s NEPODEPSANÝM PROHLÁŠENÍM:</p>
    <p>2013 / <strong>2014</strong></p>
    <p>Příjem do 5000 za měsíc / Příjem do <strong>10000</strong> za měsíc <strong>POUZE PŘÍJEM Z DPP !!!</strong></p>
    <p><strong>Potvrzení o příjmech  pro poplatníky se srážkovou daní</strong> od 1.1.2014(srážková daň se vztahuje POUZE na příjmy z dohody o provedení práce, při nepodepsaném prohlášení k dani a měsíčním příjmu maximálně 10.000 Kč)</p>
    <p><strong> Zahrne-li poplatník příjmy z DPP do daňového přiznání, započte se daň sražená z těchto příjmů na jeho daň.</strong></p>

  </div>

<% i+=1%><h2 id="<%= i %>"><a class="link">POZEMKY A DPH OD 2014</a></h2>
<div class="content">
    <a href="http://www.financnisprava.cz/assets/cs/prilohy/d-placeni-dani/Informace_k_par_56_od_roku_2014.pdf">http://www.financnisprava.cz/assets/cs/prilohy/d-placeni-dani/Informace_k_par_56_od_roku_2014.pdf</a>
    <p>Schválená novela zákona o DPH rozšiřuje rozsah případů, kdy <strong>pozemky nebudou od roku 2014 od DPH při převodu osvobozeny</strong>. Skok může nastat u staveb pro bydlení, a to až <strong>na 21 %</strong>.</p>
    <h3>Příklad 1:</h3>
    <p>Je převáděn pozemek, na který je vydáno stavební povolení na nemovitou stavbu. Na pozemku byla postavena několik měsíců před převodem stavební buňka, která je spojena se zemí napojením na vodu a kanalizaci.</p>
    <p><strong>V roce 2013 </strong>půjde o převod pozemku osvobozený od DPH. Stavebním zdanitelným pozemkem tento pozemek být nemůže, protože je zastavěn stavbou.</p>
    <p><strong>V roce 2014 </strong>půjde o převod pozemku zdanitelný DPH, neboť není splněno kritérium převodu nezastavěného pozemku bez stavebního povolení a od započetí užívání stavby na pozemku neuplynulo více než 5 let.</p>
    <h3>Příklad 2:</h3>
    <p>Je převáděn pozemek, na kterém je nemovitá stavba užívaná a od kolaudace 2 roky. </p>
    <p><strong>V roce 2013 </strong>půjde o převod pozemku osvobozený od DPH. Pozemek je zastavěn stavbou, nemůže proto být pozemkem stavebním.</p>
    <p><strong>V roce 2014 </strong>půjde o převod pozemku zdanitelný DPH, neboť není splněno kritérium převodu nezastavěného pozemku bez stavebního povolení a od započetí užívání stavby na pozemku neuplynulo více než 5 let. Sazba daně bude základní.</p>
    <h3>Příklad 3:</h3>
    <p>Je převáděn pozemek, na kterém je nemovitá stavba pro sociální bydlení užívaná a od kolaudace uplynuly 2 roky. Stavba je vlastněná jinou osobou než pozemek, v lednu 2014 je zřízeno právo stavby a je zapsáno do katastru nemovitých věcí.</p>
    <p><strong>V roce 2013 </strong>půjde o převod pozemku osvobozený od DPH. Pozemek je zastavěn stavbou, nemůže proto být pozemkem stavebním.</p>
    <p><strong>V roce 2014 </strong>půjde o převod pozemku zdanitelný DPH, neboť není splněno kritérium převodu nezastavěného pozemku bez stavebního povolení a od započetí užívání stavby na pozemku neuplynulo více než 5 let. Je otázkou, zda bude možné na převod pozemku aplikovat sníženou sazbu</p>
    <p>(2) Zbožím se pro účely tohoto zákona rozumí od 1.1.2014</p>
    <ol type="a">
      <li>hmotná věc, s výjimkou peněz a cenných papírů,</li>
      <li>právo stavby,</li>
      <li>živé zvíře,</li>
      <li>lidské tělo a část lidského těla,</li>
      <li>plyn, elektřina, teplo a chlad.</li>
    </ol>
</div>  

<% i+=1%><h2 id="<%= i %>"><a class="link">Prodejci tvrdého alkoholu musí mít od 17.10.2013 koncesi</a></h2>
<div class="content">
    <p><i>Novela živnosten. Zákona – příloha č. 3, účinnost od 17.10.2013</i></p>
      <ul>
        <li>Novela se týká kromě<strong> prodejců lihovin v obchodě </strong>také podnikatelů,
          kteří tvrdý alkohol prodávají <strong>v restauracích, cukrárnách, dopravních prostředcích…
          </strong>
        </li>
        <li>Podnikatelé podají na ŽÚ žádost o koncesi s předmětem podnikání „<strong>Prodej
            kvasného lihu, konzumního lihu a lihovinů</strong>“, a to ve stanoveném termínu
            6 měsíců ode dne účinnosti novely, <strong>tedy nejdéle do 16. dubna 2014.</strong>
          </li>
          <li>Koncesi vystaví ŽÚ zdarma. Po půl roce (od 17.4.2014), pokud podnikatel o tuto koncesi
              nepožádá, mu bude pozastavena činnost a bude si muset udělat novou živnost za poplatek.
          </li>
        </ul>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Náhradu mzdy bude zaměstnavatel od ledna vyplácet opět jen po dobu 14 dnů </a></h2>
<div class="content">
<p>
<strong>Od ledna příštího roku budou zaměstnavatelé svému zaměstnanci, který byl uznán
dočasně práce neschopným, vyplácet náhradu mzdy za období prvních 14 kalendářních
dnů trvání pracovní neschopnosti namísto dosavadních 21 dnů.</strong></p>
<p>
Zaměstnanec, který bude uznán práce neschopným nebo mu bude nařízena karanténa až
v roce 2014:
</p>
<ul>
<li>bude mít nárok na nemocenské od okresní správy sociálního zabezpečení již od 15.
dne trvání pracovní neschopnosti či karantény;</li>
<li>v období prvních 14 dnů bude mít nárok na náhradu mzdy od zaměstnavatele; </li>
<li>nadále platí, že zaměstnavatel poskytuje náhradu mzdy za dny, které jsou pro zaměstnance
pracovními dny, a že za první tři pracovní dny (nejvýše však za 24 odpracovaných
hodin) náhrada mzdy nenáleží. Při karanténě náleží náhrada mzdy od prvního pracovního
dne;</li>
<li><strong>pokud bude zaměstnanec uznán práce neschopným nebo mu bude nařízena karanténa
ještě v roce 2013 a pracovní neschopnost či karanténa bude přecházet do roku 2014,
musí zaměstnavatel poskytovat náhradu mzdy postaru, tedy v prvních 21 dnech jejího
trvání</strong> připomíná Koníček. I když zaměstnanec bude uznán práce neschopným
ode dne 31. prosince 2013, bude zaměstnavatel poskytovat náhradu mzdy až do 20.
ledna 2014, pokud pracovní neschopnost zaměstnance bude tak dlouho trvat.</li>
</ul>
<p><a href="files/kolik_penez_za_promarodeny_den.xlsx">kolik peněz za promaroděný den.xlsx</a></p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">OČR</a></h2>
<div class="content">
<h3>
Podmínky nároku na ošetřovné</h3>
<p>
Nárok na ošetřovné má zaměstnanec z důvodu</p>
<p>
1) ošetřování</p>
<ul>
<li>nemocného dítěte mladšího 10 let,</li>
<li>jiného nemocného člena domácnosti, jehož zdravotní stav vyžaduje nezbytně ošetřování
jinou osobou,</li>
</ul>
<p>
2) péče o dítě mladší 10 let, protože</p>
<ul>
<li>školské zařízení je uzavřeno z důvodu havárie, mimořádného opatření při epidemii
nebo jiné nepředvídané události,</li>
<li>dítě nemůže být pro nařízenou karanténu v péči školského zařízení, </li>
<li>osoba, která jinak o dítě pečuje, onemocněla a proto nemůže o dítě pečovat.</li>
</ul>
<p>
Nárok na ošetřovné nemají například zaměstnanci činní na základě dohody o pracovní
činnosti, dohody o provedení práce nebo zaměstnanci účastní pojištění z důvodu výkonu
zaměstnání malého rozsahu.</p>
<h3>
Podpůrčí doba</h3>
<p>
Podpůrčí doba u ošetřovného činí nejdéle</p>
<ul>
<li>9 kalendářních dnů,</li>
<li>16 kalendářních dnů, jde-li o osamělého zaměstnance, který má v trvalé péči aspoň
jedno dítě ve věku do 16 let, které neukončilo povinnou školní docházku.</li>
</ul>
<p>
Za osamělého zaměstnance se pro účely ošetřovného považuje zaměstnanec svobodný,
ovdovělý nebo rozvedený, pokud nežije s družkou (druhem) nebo v registrovaném partnerství.</p>
<p>
Běh podpůrčí doby u ošetřovného se staví po dobu poskytování zdravotních služeb
ošetřované osobě u poskytovatele lůžkové péče.</p>
<h3>
Výše ošetřovného</h3>
<p>
Výše ošetřovného za kalendářní den činí 60 % denního vyměřovacího základu. Ošetřovné
vyplácí ČSSZ.</p>
<h3>
Rozhodnutí o potřebě ošetřování (péče)</h3>
<p>
Tiskopis má dva propisovací díly.</p>
<p>
<strong>I. díl </strong>– Rozhodnutí o vzniku potřeby ošetřování (péče) – žádost
o ošetřovné</p>
<ul>
<li>Tento díl předává ošetřující lékař osobě, která potřebuje ošetřování. Jde-li o nemocné
dítě předává tiskopis osobě, která je k ošetření doprovází. Pojištěnec uplatňující
nárok na ošetřovné předává tento doklad po doplnění části B svému zaměstnavateli,
který jej spolu s vyplněným tiskopisem Příloha k žádosti o ošetřovné a potvrzením
o trvání potřeby ošetřování nebo s rozhodnutím o ukončení potřeby ošetřování předá
příslušné OSSZ.</li></ul>
<p>
<strong>II. díl </strong>– Rozhodnutí o ukončení potřeby ošetřování (péče)</p>
<ul>
<li>Ošetřující lékař v tomto díle doplní poslední den potřeby ošetřování (péče) a předá
jej osobě, která potřebovala ošetřování (osobě, která ji doprovází). Ošetřující
lékař může rozhodnout o ukončení potřeby ošetřování nejvýše tři kalendářní dny dopředu
ode dne, kdy vyšetřením zjistil, že potřeba ošetřování (péče) pominula, resp. pomine.
Pojištěnec vyplní údaje v části B tohoto dílu rozhodnutí. Tiskopis předá svému zaměstnavateli,
který jej po doplnění údajů v části C zašle příslušné OSSZ.</li></ul>
<h3>
Potvrzení o trvání potřeby ošetřování (péče)</h3>
<p>
Tímto tiskopisem zaměstnanec prokazuje trvání potřeby ošetřování člena domácnosti.
Lékař jej vystavuje na požádání zaměstnance, zejména v případech, kdy se osoby v
ošetřování (péči) o člena domácnosti vystřídaly anebo v případech, kdy jde o dlouhodobě
trvající potřebu ošetřování. Trvání potřeby ošetřování se potvrzuje ke dni vystavení
tohoto tiskopisu.</p>
</div>

<% i+=1%><h2 id="<%= i %>"><a class="link">Archivace</a></h2>
<div class="content">
<p>
<strong>Z hlediska účetních předpisů </strong>stanoví zákon č. 563/1991 Sb., o účetnictví,
v § 31 lhůty, po které je nutno uschovávat účetní záznamy.
</p>
<p>
<strong>Z hlediska daňových předpisů </strong>je třeba příslušné doklady archivovat
po celou dobu, po kterou neskončila lhůta pro vyměření daně.<strong> Základní lhůta</strong>
je stanovena na <span>3 roky po uplynutí roku, v němž vznikla daňová povinnost</span>.
</p>
<p>
Tato lhůta se <strong>prodlužuje</strong> v případě přijetí investiční pobídky formou
poskytnutí slevy na dani na celou dobu uplatňování této slevy, dále <strong>při uplatňování
ztráty minulých let</strong>, včetně roku vzniku ztráty, a při nesplnění podmínek
pro uznání nákladů <strong>u finančního leasingu</strong>, kdy začíná lhůta pro
doměření daně běžet od konce kalendářního roku, v němž bylo možno poprvé ověřit
splnění těchto podmínek. Tato lhůta může skutečně být <span>až 11 let</span>. Ustanovení
§ 38r ZDP možné lhůty pro vyměření či dodatečné vyměření daně proti § 47 ZSDP prodlužuje.
Doplněním odst. 4 do tohoto ustanovení byl pouze potvrzen původní záměr, aby tyto
lhůty byly platné pro všechny poplatníky vykazující daňovou ztrátu či pořizující
majetek formou finančního leasingu, a nikoliv pouze pro poplatníky čerpající investiční
pobídky, jak bylo z původního znění tohoto ustanovení dovozováno. <strong>Pokud však
  poplatník nepatří mezi výše uvedené poplatníky, tedy pokud nedostal investiční pobídku,
  nevykázal daňovou ztrátu ani nepořídil majetek formou finančního leasingu, tato
  prodloužená lhůta se ho netýká</strong>.
</p>
<p>
  <a href="http://www.archivovani.cz/skartacni-lhuty">Skartační lhůty</a></p>
</div>


  </article>
</section>