

<section>
  <h3>VÍTEJTE NA STRÁNKÁCH<br /> ÚČETNÍ PORADKYNĚ JITKY PLÁNSKÉ</h3>
	<article>


		<p>Účetní kancelář byla založena v roce 1995, nabízí proto mnohaleté zkušenosti. Oblast působnosti je především Kladno a Kladensko, Praha, Kralupy nad Vltavou a blízké okolí. Naše služby jsou určeny pro fyzické i právnické osoby.</p>
		<p>Poskytujeme poradenství, zpracováváme účetnictví (dříve podvojné účetnictví), daňovou evidenci (dříve jednoduché účetnictví), mzdovou agendu, přiznání k daním pro malé a střední firmy, zastupujeme klienty na úřadech. Nabízíme komplexní a individuální přístup ke každému klientovi. Dle jeho požadavků a potřeb sjednáváme schůzky v jakoukoliv hodinu, i o víkendech, aby vzájemná spolupráce nijak nenarušovala obchodní činnost společnosti. Naším hlavním cílem je spokojený zákazník, proto za klíčový prvek považujeme komunikaci . Za každých okolností se snažíme porozumět klientovi a přizpůsobit se jeho požadavkům.</p>
	</article>
</section>

<section id="dane">
	<article>
		„Nic není jisté, jen smrt a daně...“
	</article>
</section>



<section id="submenu">
	<article>
		<section class="col-sm-4">
			<section>
				<h4><%= @html_act.css('h1').text %></h4>
				<ul>
					<% @html_act.css('h2').each_with_index do |x, i| %>
            <li><span class="glyphicon glyphicon-chevron-right"></span><a href="/pages/actually#<%= i.to_s %>"><%=x.text %></a></li>
          <% end %>
				</ul>
			</section>
		</section>
		<section class="col-sm-4">
			<section>
				<h4><%= @html_2016.css('h1').text %></h4>
				<ul>
					<% @html_2016.css('h2').each_with_index do |x, i| %>
            <li><span class="glyphicon glyphicon-chevron-right"></span><a href="/pages/2017#<%= i.to_s %>"><%=x.text %></a></li>
          <% end %>
				</ul>
			</section>
		</section>
		<section class="col-sm-4">
			<section>
				<h4><%= @html_archiv.css('h1').text %></h4>
			<ul>
				<% @html_archiv.css('h2').each_with_index do |x, i| %>
          <li><span class="glyphicon glyphicon-chevron-right"></span><a href="/pages/archiv#<%= i.to_s %>"><%=x.text %></a></li>
        <% end %>
			</ul>
			</section>
		</section>
	</article>
</section>
