<%# add navigation links to this file %>
<li><%= link_to 'Profil', root_path %></li>
<li><%= link_to 'Nabídka služeb', page_path('services') %></li>
<li><%= link_to 'Ceník', page_path('pricelist')%></li>
<li><%= link_to 'Odkazy', page_path('links')%></li>
<li><%= link_to 'Relax', page_path('relax')%></li>
<li><%= link_to "Kontakt", new_contact_path %></li>
