<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Planska Cz" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Planska Cz" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/top_navigation' %>
      <%= render 'layouts/navigation' %>
    </header>
	 <%= yield %>
  
  </body>
</html>
